<a href="https://colab.research.google.com/github/aledelorbe/pt2Codigos/blob/main/PrimerasActividades/Limpieza.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Cargar librerias

In [88]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.impute import SimpleImputer

### Cargar los dataFrame

In [89]:
nuevaMortalidad = '/content/drive/MyDrive/Pt2/Primeras Actividades/0 Bases de Datos/Nueva Mortalidad/'

df2010 = pd.read_csv(nuevaMortalidad + '2010.csv')
df2011 = pd.read_csv(nuevaMortalidad + '2011.csv')
df2012 = pd.read_csv(nuevaMortalidad + '2012.csv')
df2013 = pd.read_csv(nuevaMortalidad + '2013.csv')
df2014 = pd.read_csv(nuevaMortalidad + '2014.csv')
df2015 = pd.read_csv(nuevaMortalidad + '2015.csv')
df2016 = pd.read_csv(nuevaMortalidad + '2016.csv')
df2017 = pd.read_csv(nuevaMortalidad + '2017.csv')
df2018 = pd.read_csv(nuevaMortalidad + '2018.csv')
df2019 = pd.read_csv(nuevaMortalidad + '2019.csv')

### Cargar los catalogos de empleo y educacion mas generales

In [90]:
catalogos = '/content/drive/MyDrive/Pt2/Primeras Actividades/0 Bases de Datos/Catalogos/'

dfEscolaridad = pd.read_csv(catalogos + 'escolaridad2010_2011.csv')
dfEmpleo = pd.read_csv(catalogos + 'ocupacion2013_2019.csv', encoding='latin-1')

### Seleccionar las columnas relevantes para realizar la limpieza

In [91]:
df2010 = df2010[['ent_resid', 'ent_resid_nm', 'ICD', 'Organ', 'ocupacion', 'desc_ocupacion', 'escolarida', 'desc_escolaridad']]
df2011 = df2011[['ent_resid', 'ent_resid_nm', 'ICD', 'Organ', 'ocupacion', 'desc_ocupacion', 'escolarida', 'desc_escolaridad']]
df2012 = df2012[['ent_resid', 'ent_resid_nm', 'ICD', 'Organ', 'ocupacion', 'desc_ocupacion', 'escolarida', 'desc_escolaridad']]
df2013 = df2013[['ent_resid', 'ent_resid_nm', 'ICD', 'Organ', 'ocupacion', 'desc_ocupacion', 'escolarida', 'desc_escolaridad']]
df2014 = df2014[['ent_resid', 'ent_resid_nm', 'ICD', 'Organ', 'ocupacion', 'desc_ocupacion', 'escolarida', 'desc_escolaridad']]
df2015 = df2015[['ent_resid', 'ent_resid_nm', 'ICD', 'Organ', 'ocupacion', 'desc_ocupacion', 'escolarida', 'desc_escolaridad']]
df2016 = df2016[['ent_resid', 'ent_resid_nm', 'ICD', 'Organ', 'ocupacion', 'desc_ocupacion', 'escolarida', 'desc_escolaridad']]
df2017 = df2017[['ent_resid', 'ent_resid_nm', 'ICD', 'Organ', 'ocupacion', 'desc_ocupacion', 'escolarida', 'desc_escolaridad']]
df2018 = df2018[['ent_resid', 'ent_resid_nm', 'ICD', 'Organ', 'ocupacion', 'desc_ocupacion', 'escolarida', 'desc_escolaridad']]
df2019 = df2019[['ent_resid', 'ent_resid_nm', 'ICD', 'Organ', 'ocupacion', 'desc_ocupacion', 'escolarida', 'desc_escolaridad']]

# LIMPIEZA

## Limpieza por Estado ---------------------------------------------------------------------------------------------------

### Eliminar EUA

In [92]:
# Definicion de la funcion que eliminaria los registros provenientes de este estado.
# Como el proyecto tiene como objetivo analizar datos de personas en Mexico, se considera necesario eliminar los datos de personas
# las cuales pertenezcan a EUA.

def eliminarRegistros_x_Valor(df20xx, nombreDf, valorEliminar):
  condicion20xx = (df20xx['ent_resid_nm'] == valorEliminar) # Detectar los registros con el valor de EUA en el campo 'ent_resid_nm'
  print(f'Cantidad de basura en el dataframe {nombreDf}: {df20xx.loc[condicion20xx].shape[0]}') # Contar la cantidad de registros por cada fragmento con el valor de EUA
  df20xx = df20xx.drop(df20xx[condicion20xx].index) # Eliminacion de registros

  return df20xx

# Mandar a llamar la funcion
df2010 = eliminarRegistros_x_Valor(df2010, '2010', 'Estados unidos de America')
df2011 = eliminarRegistros_x_Valor(df2011, '2011', 'Estados unidos de America')
df2012 = eliminarRegistros_x_Valor(df2012, '2012', 'Estados unidos de America')
df2013 = eliminarRegistros_x_Valor(df2013, '2013', 'Estados unidos de America')
df2014 = eliminarRegistros_x_Valor(df2014, '2014', 'Estados unidos de America')
df2015 = eliminarRegistros_x_Valor(df2015, '2015', 'Estados unidos de America')
df2016 = eliminarRegistros_x_Valor(df2016, '2016', 'Estados unidos de America')
df2017 = eliminarRegistros_x_Valor(df2017, '2017', 'Estados unidos de America')
df2018 = eliminarRegistros_x_Valor(df2018, '2018', 'Estados unidos de America')
df2019 = eliminarRegistros_x_Valor(df2019, '2019', 'Estados unidos de America')

Cantidad de basura en el dataframe 2010: 99
Cantidad de basura en el dataframe 2011: 96
Cantidad de basura en el dataframe 2012: 77
Cantidad de basura en el dataframe 2013: 94
Cantidad de basura en el dataframe 2014: 86
Cantidad de basura en el dataframe 2015: 77
Cantidad de basura en el dataframe 2016: 117
Cantidad de basura en el dataframe 2017: 121
Cantidad de basura en el dataframe 2018: 88
Cantidad de basura en el dataframe 2019: 87

### Comprobar de la inexistencia del valor de EUA

In [93]:
def ordenarLista(lista, nombreDf):
  listaSinNan = [valor for valor in lista if type(valor) != float]
  listaOrdenada = sorted(listaSinNan)
  listaOrdenada.append('NaN')

  titulo = f"DataFrame {nombreDf}".center(100, '-')
  print(titulo)
  print(listaOrdenada)

# Crear listas de los valores distintos en el campo 'ent_resid_nm' de cada fragmento
lista2010 = list(df2010['ent_resid_nm'].unique())
lista2011 = list(df2011['ent_resid_nm'].unique())
lista2012 = list(df2012['ent_resid_nm'].unique())
lista2013 = list(df2013['ent_resid_nm'].unique())
lista2014 = list(df2014['ent_resid_nm'].unique())
lista2015 = list(df2015['ent_resid_nm'].unique())
lista2016 = list(df2016['ent_resid_nm'].unique())
lista2017 = list(df2017['ent_resid_nm'].unique())
lista2018 = list(df2018['ent_resid_nm'].unique())
lista2019 = list(df2019['ent_resid_nm'].unique())

# Mandar a llamar la funcion
ordenarLista(lista2010, '2010')
ordenarLista(lista2011, '2011')
ordenarLista(lista2012, '2012')
ordenarLista(lista2013, '2013')
ordenarLista(lista2014, '2014')
ordenarLista(lista2015, '2015')
ordenarLista(lista2016, '2016')
ordenarLista(lista2017, '2017')
ordenarLista(lista2018, '2018')
ordenarLista(lista2019, '2019')

-------------------------------------------DataFrame 2010-------------------------------------------
['Aguascalientes', 'Baja California', 'Baja California Sur', 'Campeche', 'Chiapas', 'Chihuahua', 'Coahuila de Zaragoza', 'Colima', 'Distrito Federal', 'Durango', 'Guanajuato', 'Guerrero', 'Hidalgo', 'Jalisco', 'Michoacán de Ocampo', 'Morelos', 'México', 'Nayarit', 'Nuevo León', 'Oaxaca', 'Puebla', 'Querétaro', 'Quintana Roo', 'San Luis Potosí', 'Sinaloa', 'Sonora', 'Tabasco', 'Tamaulipas', 'Tlaxcala', 'Veracruz de Ignacio de la Llave', 'Yucatán', 'Zacatecas', 'NaN']
-------------------------------------------DataFrame 2011-------------------------------------------
['Aguascalientes', 'Baja California', 'Baja California Sur', 'Campeche', 'Chiapas', 'Chihuahua', 'Coahuila de Zaragoza', 'Colima', 'Distrito Federal', 'Durango', 'Guanajuato', 'Guerrero', 'Hidalgo', 'Jalisco', 'Michoacán de Ocampo', 'Morelos', 'México', 'Nayarit', 'Nuevo León', 'Oaxaca', 'Puebla', 'Querétaro', 'Quintana Roo', 'San Luis Potosí', 'Sinaloa', 'Sonora', 'Tabasco', 'Tamaulipas', 'Tlaxcala', 'Veracruz de Ignacio de la Llave', 'Yucatán', 'Zacatecas', 'NaN']
-------------------------------------------DataFrame 2012-------------------------------------------
['Aguascalientes', 'Baja California', 'Baja California Sur', 'Campeche', 'Chiapas', 'Chihuahua', 'Coahuila de Zaragoza', 'Colima', 'Distrito Federal', 'Durango', 'Guanajuato', 'Guerrero', 'Hidalgo', 'Jalisco', 'Michoacán de Ocampo', 'Morelos', 'México', 'Nayarit', 'Nuevo León', 'Oaxaca', 'Puebla', 'Querétaro', 'Quintana Roo', 'San Luis Potosí', 'Sinaloa', 'Sonora', 'Tabasco', 'Tamaulipas', 'Tlaxcala', 'Veracruz de Ignacio de la Llave', 'Yucatán', 'Zacatecas', 'NaN']
-------------------------------------------DataFrame 2013-------------------------------------------
['Aguascalientes', 'Baja California', 'Baja California Sur', 'Campeche', 'Chiapas', 'Chihuahua', 'Coahuila de Zaragoza', 'Colima', 'Distrito Federal', 'Durango', 'Guanajuato', 'Guerrero', 'Hidalgo', 'Jalisco', 'Michoacán de Ocampo', 'Morelos', 'México', 'Nayarit', 'Nuevo León', 'Oaxaca', 'Puebla', 'Querétaro', 'Quintana Roo', 'San Luis Potosí', 'Sinaloa', 'Sonora', 'Tabasco', 'Tamaulipas', 'Tlaxcala', 'Veracruz de Ignacio de la Llave', 'Yucatán', 'Zacatecas', 'NaN']
-------------------------------------------DataFrame 2014-------------------------------------------
['Aguascalientes', 'Baja California', 'Baja California Sur', 'Campeche', 'Chiapas', 'Chihuahua', 'Coahuila de Zaragoza', 'Colima', 'Distrito Federal', 'Durango', 'Guanajuato', 'Guerrero', 'Hidalgo', 'Jalisco', 'Michoacán de Ocampo', 'Morelos', 'México', 'Nayarit', 'Nuevo León', 'Oaxaca', 'Puebla', 'Querétaro', 'Quintana Roo', 'San Luis Potosí', 'Sinaloa', 'Sonora', 'Tabasco', 'Tamaulipas', 'Tlaxcala', 'Veracruz de Ignacio de la Llave', 'Yucatán', 'Zacatecas', 'NaN']
-------------------------------------------DataFrame 2015-------------------------------------------
['Aguascalientes', 'Baja California', 'Baja California Sur', 'Campeche', 'Chiapas', 'Chihuahua', 'Coahuila de Zaragoza', 'Colima', 'Distrito Federal', 'Durango', 'Guanajuato', 'Guerrero', 'Hidalgo', 'Jalisco', 'Michoacán de Ocampo', 'Morelos', 'México', 'Nayarit', 'Nuevo León', 'Oaxaca', 'Puebla', 'Querétaro', 'Quintana Roo', 'San Luis Potosí', 'Sinaloa', 'Sonora', 'Tabasco', 'Tamaulipas', 'Tlaxcala', 'Veracruz de Ignacio de la Llave', 'Yucatán', 'Zacatecas', 'NaN']
-------------------------------------------DataFrame 2016-------------------------------------------
['Aguascalientes', 'Baja California', 'Baja California Sur', 'Campeche', 'Chiapas', 'Chihuahua', 'Coahuila de Zaragoza', 'Colima', 'Distrito Federal', 'Durango', 'Guanajuato', 'Guerrero', 'Hidalgo', 'Jalisco', 'Michoacán de Ocampo', 'Morelos', 'México', 'Nayarit', 'Nuevo León', 'Oaxaca', 'Puebla', 'Querétaro', 'Quintana Roo', 'San Luis Potosí', 'Sinaloa', 'Sonora', 'Tabasco', 'Tamaulipas', 'Tlaxcala', 'Veracruz de Ignacio de la Llave', 'Yucatán', 'Zacatecas', 'NaN']
-------------------------------------------DataFrame 2017-------------------------------------------
['Aguascalientes', 'Baja California', 'Baja California Sur', 'Campeche', 'Chiapas', 'Chihuahua', 'Coahuila de Zaragoza', 'Colima', 'Distrito Federal', 'Durango', 'Guanajuato', 'Guerrero', 'Hidalgo', 'Jalisco', 'Michoacán de Ocampo', 'Morelos', 'México', 'Nayarit', 'Nuevo León', 'Oaxaca', 'Puebla', 'Querétaro', 'Quintana Roo', 'San Luis Potosí', 'Sinaloa', 'Sonora', 'Tabasco', 'Tamaulipas', 'Tlaxcala', 'Veracruz de Ignacio de la Llave', 'Yucatán', 'Zacatecas', 'NaN']
-------------------------------------------DataFrame 2018-------------------------------------------
['Aguascalientes', 'Baja California', 'Baja California Sur', 'Campeche', 'Chiapas', 'Chihuahua', 'Coahuila de Zaragoza', 'Colima', 'Distrito Federal', 'Durango', 'Guanajuato', 'Guerrero', 'Hidalgo', 'Jalisco', 'Michoacán de Ocampo', 'Morelos', 'México', 'Nayarit', 'Nuevo León', 'Oaxaca', 'Puebla', 'Querétaro', 'Quintana Roo', 'San Luis Potosí', 'Sinaloa', 'Sonora', 'Tabasco', 'Tamaulipas', 'Tlaxcala', 'Veracruz de Ignacio de la Llave', 'Yucatán', 'Zacatecas', 'NaN']
-------------------------------------------DataFrame 2019-------------------------------------------
['Aguascalientes', 'Baja California', 'Baja California Sur', 'Campeche', 'Chiapas', 'Chihuahua', 'Coahuila de Zaragoza', 'Colima', 'Distrito Federal', 'Durango', 'Guanajuato', 'Guerrero', 'Hidalgo', 'Jalisco', 'Michoacán de Ocampo', 'Morelos', 'México', 'Nayarit', 'Nuevo León', 'Oaxaca', 'Puebla', 'Querétaro', 'Quintana Roo', 'San Luis Potosí', 'Sinaloa', 'Sonora', 'Tabasco', 'Tamaulipas', 'Tlaxcala', 'Veracruz de Ignacio de la Llave', 'Yucatán', 'Zacatecas', 'NaN']

### Tratamiento de valores nulos

In [94]:
# En teoria este tratamiento deberia aplicarse para la categoria del cancer, empelo y educacion, pero esas 3 variables no presentaron valores nulos
def tratamientoValoresNulos(dfxx):
  spImputer.fit(dfxx[['ent_resid_nm']])
  dfxx[['ent_resid_nm']] = spImputer.transform(dfxx[['ent_resid_nm']])

  return dfxx

# Preparamiento de la estrategia. En este caso se reemplazaran los valores nulos por el valor mas frecuente
spImputer = SimpleImputer(strategy='most_frequent')

# Mandar a llamar la funcion de tratamiento
df2010 = tratamientoValoresNulos(df2010)
df2011 = tratamientoValoresNulos(df2011)
df2012 = tratamientoValoresNulos(df2012)
df2013 = tratamientoValoresNulos(df2013)
df2014 = tratamientoValoresNulos(df2014)
df2015 = tratamientoValoresNulos(df2015)
df2016 = tratamientoValoresNulos(df2016)
df2017 = tratamientoValoresNulos(df2017)
df2018 = tratamientoValoresNulos(df2018)
df2019 = tratamientoValoresNulos(df2019)

### Comprobacion de la inexistencia de valores nulos

In [95]:
# Definir una funcion que impirma los valores distintos de la columna 'ent_resid_nm' en orden alfabetico
def imprimirValoresDistintos(df20xx, nombreDf):
  titulo = f"DataFrame {nombreDf}".center(100, '-')
  valoresDistintos = list(df2010['ent_resid_nm'].unique())
  valoresDistintos.sort()
  print(titulo)
  print(valoresDistintos)


imprimirValoresDistintos(df2010, '2010')
imprimirValoresDistintos(df2011, '2011')
imprimirValoresDistintos(df2012, '2012')
imprimirValoresDistintos(df2013, '2013')
imprimirValoresDistintos(df2014, '2014')
imprimirValoresDistintos(df2015, '2015')
imprimirValoresDistintos(df2016, '2016')
imprimirValoresDistintos(df2017, '2017')
imprimirValoresDistintos(df2018, '2018')
imprimirValoresDistintos(df2019, '2019')

-------------------------------------------DataFrame 2010-------------------------------------------
['Aguascalientes', 'Baja California', 'Baja California Sur', 'Campeche', 'Chiapas', 'Chihuahua', 'Coahuila de Zaragoza', 'Colima', 'Distrito Federal', 'Durango', 'Guanajuato', 'Guerrero', 'Hidalgo', 'Jalisco', 'Michoacán de Ocampo', 'Morelos', 'México', 'Nayarit', 'Nuevo León', 'Oaxaca', 'Puebla', 'Querétaro', 'Quintana Roo', 'San Luis Potosí', 'Sinaloa', 'Sonora', 'Tabasco', 'Tamaulipas', 'Tlaxcala', 'Veracruz de Ignacio de la Llave', 'Yucatán', 'Zacatecas']
-------------------------------------------DataFrame 2011-------------------------------------------
['Aguascalientes', 'Baja California', 'Baja California Sur', 'Campeche', 'Chiapas', 'Chihuahua', 'Coahuila de Zaragoza', 'Colima', 'Distrito Federal', 'Durango', 'Guanajuato', 'Guerrero', 'Hidalgo', 'Jalisco', 'Michoacán de Ocampo', 'Morelos', 'México', 'Nayarit', 'Nuevo León', 'Oaxaca', 'Puebla', 'Querétaro', 'Quintana Roo', 'San Luis Potosí', 'Sinaloa', 'Sonora', 'Tabasco', 'Tamaulipas', 'Tlaxcala', 'Veracruz de Ignacio de la Llave', 'Yucatán', 'Zacatecas']
-------------------------------------------DataFrame 2012-------------------------------------------
['Aguascalientes', 'Baja California', 'Baja California Sur', 'Campeche', 'Chiapas', 'Chihuahua', 'Coahuila de Zaragoza', 'Colima', 'Distrito Federal', 'Durango', 'Guanajuato', 'Guerrero', 'Hidalgo', 'Jalisco', 'Michoacán de Ocampo', 'Morelos', 'México', 'Nayarit', 'Nuevo León', 'Oaxaca', 'Puebla', 'Querétaro', 'Quintana Roo', 'San Luis Potosí', 'Sinaloa', 'Sonora', 'Tabasco', 'Tamaulipas', 'Tlaxcala', 'Veracruz de Ignacio de la Llave', 'Yucatán', 'Zacatecas']
-------------------------------------------DataFrame 2013-------------------------------------------
['Aguascalientes', 'Baja California', 'Baja California Sur', 'Campeche', 'Chiapas', 'Chihuahua', 'Coahuila de Zaragoza', 'Colima', 'Distrito Federal', 'Durango', 'Guanajuato', 'Guerrero', 'Hidalgo', 'Jalisco', 'Michoacán de Ocampo', 'Morelos', 'México', 'Nayarit', 'Nuevo León', 'Oaxaca', 'Puebla', 'Querétaro', 'Quintana Roo', 'San Luis Potosí', 'Sinaloa', 'Sonora', 'Tabasco', 'Tamaulipas', 'Tlaxcala', 'Veracruz de Ignacio de la Llave', 'Yucatán', 'Zacatecas']
-------------------------------------------DataFrame 2014-------------------------------------------
['Aguascalientes', 'Baja California', 'Baja California Sur', 'Campeche', 'Chiapas', 'Chihuahua', 'Coahuila de Zaragoza', 'Colima', 'Distrito Federal', 'Durango', 'Guanajuato', 'Guerrero', 'Hidalgo', 'Jalisco', 'Michoacán de Ocampo', 'Morelos', 'México', 'Nayarit', 'Nuevo León', 'Oaxaca', 'Puebla', 'Querétaro', 'Quintana Roo', 'San Luis Potosí', 'Sinaloa', 'Sonora', 'Tabasco', 'Tamaulipas', 'Tlaxcala', 'Veracruz de Ignacio de la Llave', 'Yucatán', 'Zacatecas']
-------------------------------------------DataFrame 2015-------------------------------------------
['Aguascalientes', 'Baja California', 'Baja California Sur', 'Campeche', 'Chiapas', 'Chihuahua', 'Coahuila de Zaragoza', 'Colima', 'Distrito Federal', 'Durango', 'Guanajuato', 'Guerrero', 'Hidalgo', 'Jalisco', 'Michoacán de Ocampo', 'Morelos', 'México', 'Nayarit', 'Nuevo León', 'Oaxaca', 'Puebla', 'Querétaro', 'Quintana Roo', 'San Luis Potosí', 'Sinaloa', 'Sonora', 'Tabasco', 'Tamaulipas', 'Tlaxcala', 'Veracruz de Ignacio de la Llave', 'Yucatán', 'Zacatecas']
-------------------------------------------DataFrame 2016-------------------------------------------
['Aguascalientes', 'Baja California', 'Baja California Sur', 'Campeche', 'Chiapas', 'Chihuahua', 'Coahuila de Zaragoza', 'Colima', 'Distrito Federal', 'Durango', 'Guanajuato', 'Guerrero', 'Hidalgo', 'Jalisco', 'Michoacán de Ocampo', 'Morelos', 'México', 'Nayarit', 'Nuevo León', 'Oaxaca', 'Puebla', 'Querétaro', 'Quintana Roo', 'San Luis Potosí', 'Sinaloa', 'Sonora', 'Tabasco', 'Tamaulipas', 'Tlaxcala', 'Veracruz de Ignacio de la Llave', 'Yucatán', 'Zacatecas']
-------------------------------------------DataFrame 2017-------------------------------------------
['Aguascalientes', 'Baja California', 'Baja California Sur', 'Campeche', 'Chiapas', 'Chihuahua', 'Coahuila de Zaragoza', 'Colima', 'Distrito Federal', 'Durango', 'Guanajuato', 'Guerrero', 'Hidalgo', 'Jalisco', 'Michoacán de Ocampo', 'Morelos', 'México', 'Nayarit', 'Nuevo León', 'Oaxaca', 'Puebla', 'Querétaro', 'Quintana Roo', 'San Luis Potosí', 'Sinaloa', 'Sonora', 'Tabasco', 'Tamaulipas', 'Tlaxcala', 'Veracruz de Ignacio de la Llave', 'Yucatán', 'Zacatecas']
-------------------------------------------DataFrame 2018-------------------------------------------
['Aguascalientes', 'Baja California', 'Baja California Sur', 'Campeche', 'Chiapas', 'Chihuahua', 'Coahuila de Zaragoza', 'Colima', 'Distrito Federal', 'Durango', 'Guanajuato', 'Guerrero', 'Hidalgo', 'Jalisco', 'Michoacán de Ocampo', 'Morelos', 'México', 'Nayarit', 'Nuevo León', 'Oaxaca', 'Puebla', 'Querétaro', 'Quintana Roo', 'San Luis Potosí', 'Sinaloa', 'Sonora', 'Tabasco', 'Tamaulipas', 'Tlaxcala', 'Veracruz de Ignacio de la Llave', 'Yucatán', 'Zacatecas']
-------------------------------------------DataFrame 2019-------------------------------------------
['Aguascalientes', 'Baja California', 'Baja California Sur', 'Campeche', 'Chiapas', 'Chihuahua', 'Coahuila de Zaragoza', 'Colima', 'Distrito Federal', 'Durango', 'Guanajuato', 'Guerrero', 'Hidalgo', 'Jalisco', 'Michoacán de Ocampo', 'Morelos', 'México', 'Nayarit', 'Nuevo León', 'Oaxaca', 'Puebla', 'Querétaro', 'Quintana Roo', 'San Luis Potosí', 'Sinaloa', 'Sonora', 'Tabasco', 'Tamaulipas', 'Tlaxcala', 'Veracruz de Ignacio de la Llave', 'Yucatán', 'Zacatecas']

## Limpieza por Empleo ---------------------------------------------------------------------------------------------------

### Detectar Basura

In [96]:
# Definicion de la funcion que busca los registros basura
def buscarLlavesRuido(df20xx, nombreLLave, nombreDesc):
  dfRuido20xx = df20xx[df20xx[nombreDesc].isnull()] # Buscar los registros que tienen vacio el campo 'nombreDesc'
  print(dfRuido20xx[nombreLLave].unique()) # Imprimir las llaves que no tienen descripcion en 'nombreDesc'

  return dfRuido20xx

# Mandar a llamar la funcion
dfRuido2010 = buscarLlavesRuido(df2010, 'ocupacion', 'desc_ocupacion')
dfRuido2011 = buscarLlavesRuido(df2011, 'ocupacion', 'desc_ocupacion')
dfRuido2012 = buscarLlavesRuido(df2012, 'ocupacion', 'desc_ocupacion')
dfRuido2013 = buscarLlavesRuido(df2013, 'ocupacion', 'desc_ocupacion')
dfRuido2014 = buscarLlavesRuido(df2014, 'ocupacion', 'desc_ocupacion')
dfRuido2015 = buscarLlavesRuido(df2015, 'ocupacion', 'desc_ocupacion')
dfRuido2016 = buscarLlavesRuido(df2016, 'ocupacion', 'desc_ocupacion')
dfRuido2017 = buscarLlavesRuido(df2017, 'ocupacion', 'desc_ocupacion')
dfRuido2018 = buscarLlavesRuido(df2018, 'ocupacion', 'desc_ocupacion')
dfRuido2019 = buscarLlavesRuido(df2019, 'ocupacion', 'desc_ocupacion')
# Entonces solo hubo ruido en los años 2010 a 2012

[9 6 4 7]
[4 6 9 7 8 1]
[ 8  1  6  4  9  7  5  3 10]
[]
[]
[]
[]
[]
[]
[]

### Contar la cantidad de basura

In [97]:
# Definicion de la funcion que contara la cantidad de registros basura
def contarBasura(df20xx, dfRuido20xx, nombreDf, campoX):
  listaRuido20xx = list(dfRuido20xx[campoX].unique())
  condicion20xx = df20xx[campoX].isin(listaRuido20xx)
  newDf20xx = df20xx.loc[condicion20xx]
  print(f'Cantidad de basura en el dataframe {nombreDf}: {newDf20xx.shape[0]}')

contarBasura(df2010, dfRuido2010, '2010', 'ocupacion')
contarBasura(df2011, dfRuido2011, '2011', 'ocupacion')
contarBasura(df2012, dfRuido2012, '2012', 'ocupacion')

Cantidad de basura en el dataframe 2010: 14
Cantidad de basura en el dataframe 2011: 31
Cantidad de basura en el dataframe 2012: 480

### Reemplazar Basura por la moda

In [98]:

def reemplazoBasura_x_Moda(df20xx, dfRuido20xx, nombreDf, campoX):
  # Determinar cual fue el valor mas comun (Moda) en determinado fragmento en la columna 'campoX'
  moda20xx = df20xx[campoX].mode()[0]
  print(f"DataFrame {nombreDf}. La moda en la columna '{campoX}' es: {moda20xx}")

  # Buscar los registros que tienen los datos basura y reemplazarlos por el valor de la moda de cada
  # fragmento
  listaRuido20xx = list(dfRuido20xx[campoX].unique())
  condicion20xx = df20xx[campoX].isin(listaRuido20xx)
  df20xx.loc[condicion20xx, campoX] = moda20xx

  return df20xx

# Mandar a llamar a la funcion
df2010 = reemplazoBasura_x_Moda(df2010, dfRuido2010, '2010', 'ocupacion')
df2011 = reemplazoBasura_x_Moda(df2011, dfRuido2011, '2011', 'ocupacion')
df2012 = reemplazoBasura_x_Moda(df2012, dfRuido2012, '2012', 'ocupacion')

DataFrame 2010. La moda en la columna 'ocupacion' es: 2
DataFrame 2011. La moda en la columna 'ocupacion' es: 2
DataFrame 2012. La moda en la columna 'ocupacion' es: 2

### Comprobacion de que se reemplazo los registros basura por la moda

In [99]:
def imprimirLlave_y_Descripcion(df20xx, nombreDf, campoLlave, campoDescripcion):
  dfRuido20xx = df20xx[df20xx[campoDescripcion].isnull()]
  titulo = f"DataFrame {nombreDf}".center(100, '-')
  print(titulo)
  print(dfRuido20xx[[campoLlave, campoDescripcion]])

imprimirLlave_y_Descripcion(df2010, '2010', 'ocupacion', 'desc_ocupacion')
imprimirLlave_y_Descripcion(df2011, '2011', 'ocupacion', 'desc_ocupacion')
imprimirLlave_y_Descripcion(df2012, '2012', 'ocupacion', 'desc_ocupacion')

-------------------------------------------DataFrame 2010-------------------------------------------
       ocupacion desc_ocupacion
70167          2            NaN
70169          2            NaN
70173          2            NaN
70176          2            NaN
70187          2            NaN
70189          2            NaN
70190          2            NaN
70194          2            NaN
70206          2            NaN
70209          2            NaN
70213          2            NaN
70229          2            NaN
70230          2            NaN
70240          2            NaN
-------------------------------------------DataFrame 2011-------------------------------------------
       ocupacion desc_ocupacion
71113          2            NaN
71126          2            NaN
71127          2            NaN
71129          2            NaN
71130          2            NaN
71131          2            NaN
71136          2            NaN
71139          2            NaN
71141          2            NaN
71146          2            NaN
71147          2            NaN
71159          2            NaN
71165          2            NaN
71166          2            NaN
71169          2            NaN
71170          2            NaN
71171          2            NaN
71172          2            NaN
71175          2            NaN
71177          2            NaN
71180          2            NaN
71190          2            NaN
71194          2            NaN
71198          2            NaN
71199          2            NaN
71202          2            NaN
71208          2            NaN
71209          2            NaN
71216          2            NaN
71220          2            NaN
71224          2            NaN
-------------------------------------------DataFrame 2012-------------------------------------------
       ocupacion desc_ocupacion
18606          2            NaN
18608          2            NaN
18609          2            NaN
18610          2            NaN
18611          2            NaN
...          ...            ...
72355          2            NaN
72366          2            NaN
72387          2            NaN
72388          2            NaN
73061          2            NaN

[480 rows x 2 columns]

### Mapear

In [100]:

def mapearEmpleo(df20xx, nombreDf):
    df20xx = df20xx.drop(['desc_ocupacion'], axis=1) # Eliminar la descripcion de ocupacion de los dataset
    df20xx['NuevaColEmpleo'] = 0 # Agregar una nueva columna y llenarla de puros 0, en esta columna se vaceara el mapeo

    # Buscar cuales valores se deben mapear (actualizar)
    condicion1 = (df20xx['ocupacion'] == 21)
    condicion2 = (df20xx['ocupacion'] == 11) | (df20xx['ocupacion'] == 12) | (df20xx['ocupacion'] == 13)
    condicion3 = (df20xx['ocupacion'] == 61) | (df20xx['ocupacion'] == 62)
    condicion4 = (df20xx['ocupacion'] == 71) | (df20xx['ocupacion'] == 72)
    condicion5 = (df20xx['ocupacion'] == 81) | (df20xx['ocupacion'] == 83)
    condicion6 = (df20xx['ocupacion'] == 41)
    condicion7 = (df20xx['ocupacion'] == 54)
    condicion8 = (df20xx['ocupacion'] == 51) | (df20xx['ocupacion'] == 52) | (df20xx['ocupacion'] == 53) | (df20xx['ocupacion'] == 55)
    condicion9 = (df20xx['ocupacion'] == 82)
    condicion11 = (df20xx['ocupacion'] == 2)
    condicion98 = (df20xx['ocupacion'] == 14)

    # Actualizar los valores
    df20xx.loc[condicion1, 'NuevaColEmpleo'] = 1
    df20xx.loc[condicion2, 'NuevaColEmpleo'] = 2
    df20xx.loc[condicion3, 'NuevaColEmpleo'] = 3
    df20xx.loc[condicion4, 'NuevaColEmpleo'] = 4
    df20xx.loc[condicion5, 'NuevaColEmpleo'] = 5
    df20xx.loc[condicion6, 'NuevaColEmpleo'] = 6
    df20xx.loc[condicion7, 'NuevaColEmpleo'] = 7
    df20xx.loc[condicion8, 'NuevaColEmpleo'] = 8
    df20xx.loc[condicion9, 'NuevaColEmpleo'] = 9
    df20xx.loc[condicion11, 'NuevaColEmpleo'] = 11
    df20xx.loc[condicion98, 'NuevaColEmpleo'] = 98

    # Pasar estas llaves tal cual estan (no sufren mapeo porque estos si coinciden)
    condicion97 = (df20xx['ocupacion'] == 97)
    condicion98 = (df20xx['ocupacion'] == 98)
    condicion99 = (df20xx['ocupacion'] == 99)

    df20xx.loc[condicion97, 'NuevaColEmpleo'] = 97
    df20xx.loc[condicion98, 'NuevaColEmpleo'] = 98
    df20xx.loc[condicion99, 'NuevaColEmpleo'] = 99

    # Imprimir resultados y validacion
    condicion0 = (df20xx['NuevaColEmpleo'] == 0)
    newDf = df20xx.loc[condicion0]
    print(f'En el dataframe {nombreDf} la cantidad de registros con el valor 0 en la columna NuevaColEmpleo es: {newDf.shape[0]}')

    return df20xx

df2010 = mapearEmpleo(df2010, '2010')
df2011 = mapearEmpleo(df2011, '2011')
df2012 = mapearEmpleo(df2012, '2012')

En el dataframe 2010 la cantidad de registros con el valor 0 en la columna NuevaColEmpleo es: 0
En el dataframe 2011 la cantidad de registros con el valor 0 en la columna NuevaColEmpleo es: 0
En el dataframe 2012 la cantidad de registros con el valor 0 en la columna NuevaColEmpleo es: 0

### Realizar la integracion con el catalogo de empleo mas general

In [101]:
# Realizar nuevamente la integracion de las bases de datos 2010, 2011 y 2012 con los catalogos de empleo de los
# años 2013 a 2019

def reIntegracionDeDatos(df20xx, catalogoX, colIzq, colDer, nuevoNombre):
  df20xx = pd.merge(df20xx, catalogoX, how='inner', left_on=colIzq, right_on=colDer)
  df20xx = df20xx.rename(columns={"DESCRIP": nuevoNombre})
  df20xx = df20xx.drop(['CVE'], axis=1)

  return df20xx

df2010 = reIntegracionDeDatos(df2010, dfEmpleo, 'NuevaColEmpleo', 'CVE', 'desc_ocupacion')
df2011 = reIntegracionDeDatos(df2011, dfEmpleo, 'NuevaColEmpleo', 'CVE', 'desc_ocupacion')
df2012 = reIntegracionDeDatos(df2012, dfEmpleo, 'NuevaColEmpleo', 'CVE', 'desc_ocupacion')

## Limpieza por Educacion ---------------------------------------------------------------------------------------------------

### Detectar basura

In [102]:
# Mandar a llamar la funcion
dfRuido2010 = buscarLlavesRuido(df2010, 'escolarida', 'desc_escolaridad')
dfRuido2011 = buscarLlavesRuido(df2011, 'escolarida', 'desc_escolaridad')
dfRuido2012 = buscarLlavesRuido(df2012, 'escolarida', 'desc_escolaridad')
dfRuido2013 = buscarLlavesRuido(df2013, 'escolarida', 'desc_escolaridad')
dfRuido2014 = buscarLlavesRuido(df2014, 'escolarida', 'desc_escolaridad')
dfRuido2015 = buscarLlavesRuido(df2015, 'escolarida', 'desc_escolaridad')
dfRuido2016 = buscarLlavesRuido(df2016, 'escolarida', 'desc_escolaridad')
dfRuido2017 = buscarLlavesRuido(df2017, 'escolarida', 'desc_escolaridad')
dfRuido2018 = buscarLlavesRuido(df2018, 'escolarida', 'desc_escolaridad')
dfRuido2019 = buscarLlavesRuido(df2019, 'escolarida', 'desc_escolaridad')

# Entonces solo hubo ruido en los años 2010 y 2011

[99 88 10]
[99 88 10]
[]
[]
[]
[]
[]
[]
[]
[]

### Contar la cantidad de basura

In [103]:
contarBasura(df2010, dfRuido2010, '2010', 'escolarida')
contarBasura(df2011, dfRuido2011, '2011', 'escolarida')

Cantidad de basura en el dataframe 2010: 42
Cantidad de basura en el dataframe 2011: 102

### Reemplazar basura por la moda

In [104]:
df2010 = reemplazoBasura_x_Moda(df2010, dfRuido2010, '2010', 'escolarida')
df2011 = reemplazoBasura_x_Moda(df2011, dfRuido2011, '2011', 'escolarida')

DataFrame 2010. La moda en la columna 'escolarida' es: 2
DataFrame 2011. La moda en la columna 'escolarida' es: 2

### Comprobacion de que se reemplazo los registros basura por la moda

In [105]:
imprimirLlave_y_Descripcion(df2010, '2010', 'escolarida', 'desc_escolaridad')
imprimirLlave_y_Descripcion(df2011, '2011', 'escolarida', 'desc_escolaridad')

-------------------------------------------DataFrame 2010-------------------------------------------
       escolarida desc_escolaridad
49936           2              NaN
49939           2              NaN
49943           2              NaN
49944           2              NaN
49956           2              NaN
59276           2              NaN
59278           2              NaN
62537           2              NaN
62552           2              NaN
68068           2              NaN
68342           2              NaN
68344           2              NaN
69873           2              NaN
69877           2              NaN
69878           2              NaN
69880           2              NaN
69881           2              NaN
69882           2              NaN
69883           2              NaN
69886           2              NaN
69887           2              NaN
69888           2              NaN
69889           2              NaN
69890           2              NaN
69891           2              NaN
69892           2              NaN
69893           2              NaN
69894           2              NaN
69896           2              NaN
69897           2              NaN
69899           2              NaN
69900           2              NaN
69901           2              NaN
69903           2              NaN
69904           2              NaN
69905           2              NaN
69907           2              NaN
69908           2              NaN
69909           2              NaN
69911           2              NaN
69912           2              NaN
69913           2              NaN
-------------------------------------------DataFrame 2011-------------------------------------------
       escolarida desc_escolaridad
41054           2              NaN
41059           2              NaN
41060           2              NaN
41077           2              NaN
41093           2              NaN
...           ...              ...
70504           2              NaN
70534           2              NaN
70536           2              NaN
70569           2              NaN
70576           2              NaN

[102 rows x 2 columns]

### Mapear

In [106]:
# Definicion de la funcion que se encargara de mapear los fragmentos 2010 y 2011
def mapearEducacion2010(df20xx, nombreDf):
    df20xx = df20xx.drop(['desc_escolaridad'], axis=1) # Eliminar la descripcion de escolarida de los dataset
    df20xx['NuevaColEducacion'] = 0 # Agregar una nueva columna y llenarla de puros 0, en esta columna se vaceara el mapeo

    # Buscar cuales valores se deben mapear (actualizar)
    condicion10 = (df20xx['escolarida'] == 2)

    # Actualizar los valores
    df20xx.loc[condicion10, 'NuevaColEducacion'] = 10

    # Pasar estas llaves tal cual estan (no sufren mapeo porque estos si coinciden)
    condicion1 = (df20xx['escolarida'] == 1)
    condicion3 = (df20xx['escolarida'] == 3)
    condicion4 = (df20xx['escolarida'] == 4)
    condicion5 = (df20xx['escolarida'] == 5)
    condicion6 = (df20xx['escolarida'] == 6)
    condicion7 = (df20xx['escolarida'] == 7)
    condicion8 = (df20xx['escolarida'] == 8)
    condicion9 = (df20xx['escolarida'] == 9)

    df20xx.loc[condicion1, 'NuevaColEducacion'] = 1
    df20xx.loc[condicion3, 'NuevaColEducacion'] = 3
    df20xx.loc[condicion4, 'NuevaColEducacion'] = 4
    df20xx.loc[condicion5, 'NuevaColEducacion'] = 5
    df20xx.loc[condicion6, 'NuevaColEducacion'] = 6
    df20xx.loc[condicion7, 'NuevaColEducacion'] = 7
    df20xx.loc[condicion8, 'NuevaColEducacion'] = 8
    df20xx.loc[condicion9, 'NuevaColEducacion'] = 9

    # Imprimir resultados y validacion
    condicion0 = (df20xx['NuevaColEducacion'] == 0)
    newDf = df20xx.loc[condicion0]
    print(f'En el dataframe {nombreDf} la cantidad de registros con el valor 0 en la columna NuevaColEducacion es: {newDf.shape[0]}')

    return df20xx


# Definicion de la funcion que se encargara de mapear los fragmentos 2012 a 2019
def mapearEducacion2012(df20xx, nombreDf):
    df20xx = df20xx.drop(['desc_escolaridad'], axis=1) # Eliminar la descripcion de escolarida de los dataset
    df20xx['NuevaColEducacion'] = 0 # Agregar una nueva columna y llenarla de puros 0, en esta columna se vaceara el mapeo

    # Buscar cuales valores se deben mapear (actualizar)
    condicion3 = (df20xx['escolarida'] == 4)
    condicion4 = (df20xx['escolarida'] == 5)
    condicion5 = (df20xx['escolarida'] == 6)
    condicion6 = (df20xx['escolarida'] == 7) | (df20xx['escolarida'] == 8)
    condicion7 = (df20xx['escolarida'] == 9)
    condicion8 = (df20xx['escolarida'] == 88)
    condicion9 = (df20xx['escolarida'] == 99)
    condicion10 = (df20xx['escolarida'] == 2) | (df20xx['escolarida'] == 3)
    condicion11 = (df20xx['escolarida'] == 10)

    # Actualizar los valores
    df20xx.loc[condicion3, 'NuevaColEducacion'] = 3
    df20xx.loc[condicion4, 'NuevaColEducacion'] = 4
    df20xx.loc[condicion5, 'NuevaColEducacion'] = 5
    df20xx.loc[condicion6, 'NuevaColEducacion'] = 6
    df20xx.loc[condicion7, 'NuevaColEducacion'] = 7
    df20xx.loc[condicion8, 'NuevaColEducacion'] = 8
    df20xx.loc[condicion9, 'NuevaColEducacion'] = 9
    df20xx.loc[condicion10, 'NuevaColEducacion'] = 10
    df20xx.loc[condicion11, 'NuevaColEducacion'] = 11

    # Pasar estas llaves tal cual estan (no sufren mapeo porque estos si coinciden)
    condicion1 = (df20xx['escolarida'] == 1)

    df20xx.loc[condicion1, 'NuevaColEducacion'] = 1

    # Creacion de las nuevas descripciones para las nuevas llaves
    # df20xx.loc[condicion10, 'NuevaColEducacion'] = 1

    # Imprimir resultados y validacion
    condicion0 = (df20xx['NuevaColEducacion'] == 0)
    newDf = df20xx.loc[condicion0]
    print(f'En el dataframe {nombreDf} la cantidad de registros con el valor 0 en la columna NuevaColEducacion es: {newDf.shape[0]}')

    return df20xx

# Mandar a llamar la funcion 'mapearEducacion2010' para los fragmentos 2010 y 2011
df2010 = mapearEducacion2010(df2010, '2010')
df2011 = mapearEducacion2010(df2011, '2011')

# Mandar a llamar la funcion 'mapearEducacion2012' para los fragmentos 2012 - 2019
df2012 = mapearEducacion2012(df2012, '2012')
df2013 = mapearEducacion2012(df2013, '2013')
df2014 = mapearEducacion2012(df2014, '2014')
df2015 = mapearEducacion2012(df2015, '2015')
df2016 = mapearEducacion2012(df2016, '2016')
df2017 = mapearEducacion2012(df2017, '2017')
df2018 = mapearEducacion2012(df2018, '2018')
df2019 = mapearEducacion2012(df2019, '2019')

En el dataframe 2010 la cantidad de registros con el valor 0 en la columna NuevaColEducacion es: 0
En el dataframe 2011 la cantidad de registros con el valor 0 en la columna NuevaColEducacion es: 0
En el dataframe 2012 la cantidad de registros con el valor 0 en la columna NuevaColEducacion es: 0
En el dataframe 2013 la cantidad de registros con el valor 0 en la columna NuevaColEducacion es: 0
En el dataframe 2014 la cantidad de registros con el valor 0 en la columna NuevaColEducacion es: 0
En el dataframe 2015 la cantidad de registros con el valor 0 en la columna NuevaColEducacion es: 0
En el dataframe 2016 la cantidad de registros con el valor 0 en la columna NuevaColEducacion es: 0
En el dataframe 2017 la cantidad de registros con el valor 0 en la columna NuevaColEducacion es: 0
En el dataframe 2018 la cantidad de registros con el valor 0 en la columna NuevaColEducacion es: 0
En el dataframe 2019 la cantidad de registros con el valor 0 en la columna NuevaColEducacion es: 0

### Realizar la integracion con el catalogo de educacion mas general

In [107]:
# Realizar nuevamente la integracion de las bases de datos 2012 - 2019 con los catalogos de educacion mas
# generales (años 2010 y 2011)
df2010 = reIntegracionDeDatos(df2010, dfEscolaridad, 'NuevaColEducacion', 'CVE', 'desc_escolaridad')
df2011 = reIntegracionDeDatos(df2011, dfEscolaridad, 'NuevaColEducacion', 'CVE', 'desc_escolaridad')

df2012 = reIntegracionDeDatos(df2012, dfEscolaridad, 'NuevaColEducacion', 'CVE', 'desc_escolaridad')
df2013 = reIntegracionDeDatos(df2013, dfEscolaridad, 'NuevaColEducacion', 'CVE', 'desc_escolaridad')
df2014 = reIntegracionDeDatos(df2014, dfEscolaridad, 'NuevaColEducacion', 'CVE', 'desc_escolaridad')
df2015 = reIntegracionDeDatos(df2015, dfEscolaridad, 'NuevaColEducacion', 'CVE', 'desc_escolaridad')
df2016 = reIntegracionDeDatos(df2016, dfEscolaridad, 'NuevaColEducacion', 'CVE', 'desc_escolaridad')
df2017 = reIntegracionDeDatos(df2017, dfEscolaridad, 'NuevaColEducacion', 'CVE', 'desc_escolaridad')
df2018 = reIntegracionDeDatos(df2018, dfEscolaridad, 'NuevaColEducacion', 'CVE', 'desc_escolaridad')
df2019 = reIntegracionDeDatos(df2019, dfEscolaridad, 'NuevaColEducacion', 'CVE', 'desc_escolaridad')

In [108]:
condicion10 = (df2010['NuevaColEducacion'] == 10) | (df2010['NuevaColEducacion'] == 11)
newDf = df2010.loc[condicion10]
newDf

Empty DataFrame
Columns: [ent_resid, ent_resid_nm, ICD, Organ, ocupacion, escolarida, NuevaColEmpleo, desc_ocupacion, NuevaColEducacion, DESC]
Index: []

In [87]:
condicion10 = (df2012['NuevaColEducacion'] == 10) | (df2012['NuevaColEducacion'] == 11)
newDf = df2012.loc[condicion10]
newDf

Empty DataFrame
Columns: [ent_resid, ent_resid_nm, ICD, Organ, ocupacion, escolarida, NuevaColEmpleo, desc_ocupacion, NuevaColEducacion, DESC]
Index: []

## Conclusión de la Limpieza ---------------------------------------------------------------------------------------------------

### Selección de las columnas

In [ ]:
df2010 = df2010[['ent_resid_nm', 'Organ', 'desc_ocupacion', 'desc_escolaridad']]
df2011 = df2011[['ent_resid_nm', 'Organ', 'desc_ocupacion', 'desc_escolaridad']]
df2012 = df2012[['ent_resid_nm', 'Organ', 'desc_ocupacion', 'desc_escolaridad']]
df2013 = df2013[['ent_resid_nm', 'Organ', 'desc_ocupacion', 'desc_escolaridad']]
df2014 = df2014[['ent_resid_nm', 'Organ', 'desc_ocupacion', 'desc_escolaridad']]
df2015 = df2015[['ent_resid_nm', 'Organ', 'desc_ocupacion', 'desc_escolaridad']]
df2016 = df2016[['ent_resid_nm', 'Organ', 'desc_ocupacion', 'desc_escolaridad']]
df2017 = df2017[['ent_resid_nm', 'Organ', 'desc_ocupacion', 'desc_escolaridad']]
df2018 = df2018[['ent_resid_nm', 'Organ', 'desc_ocupacion', 'desc_escolaridad']]
df2019 = df2019[['ent_resid_nm', 'Organ', 'desc_ocupacion', 'desc_escolaridad']]

### Almacenar nueva base de datos

In [ ]:
nuevaMortalidadLimpia = '/content/drive/MyDrive/Pt2/Primeras Actividades/0 Bases de Datos/Nueva Mortalidad Limpia/'

df2010.to_csv(nuevaMortalidadLimpia + '2010.csv', index=False)
df2011.to_csv(nuevaMortalidadLimpia + '2011.csv', index=False)
df2012.to_csv(nuevaMortalidadLimpia + '2012.csv', index=False)
df2013.to_csv(nuevaMortalidadLimpia + '2013.csv', index=False)
df2014.to_csv(nuevaMortalidadLimpia + '2014.csv', index=False)
df2015.to_csv(nuevaMortalidadLimpia + '2015.csv', index=False)
df2016.to_csv(nuevaMortalidadLimpia + '2016.csv', index=False)
df2017.to_csv(nuevaMortalidadLimpia + '2017.csv', index=False)
df2018.to_csv(nuevaMortalidadLimpia + '2018.csv', index=False)
df2019.to_csv(nuevaMortalidadLimpia + '2019.csv', index=False)