<a href="https://colab.research.google.com/github/aledelorbe/pt2Codigos/blob/main/PrimerasActividades/Limpieza.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Cargar librerias

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.impute import SimpleImputer

### Cargar los dataFrame

In [ ]:
nuevaMortalidad = '/content/drive/MyDrive/Pt2/Primeras Actividades/0 Bases de Datos/Nueva Mortalidad/'

df2010 = pd.read_csv(nuevaMortalidad + '2010.csv')
df2011 = pd.read_csv(nuevaMortalidad + '2011.csv')
df2012 = pd.read_csv(nuevaMortalidad + '2012.csv')
df2013 = pd.read_csv(nuevaMortalidad + '2013.csv')
df2014 = pd.read_csv(nuevaMortalidad + '2014.csv')
df2015 = pd.read_csv(nuevaMortalidad + '2015.csv')
df2016 = pd.read_csv(nuevaMortalidad + '2016.csv')
df2017 = pd.read_csv(nuevaMortalidad + '2017.csv')
df2018 = pd.read_csv(nuevaMortalidad + '2018.csv')
df2019 = pd.read_csv(nuevaMortalidad + '2019.csv')

### Cargar el catalogoa de empleo y educacion ("Recientes")

In [ ]:
catalogos = '/content/drive/MyDrive/Pt2/Primeras Actividades/0 Bases de Datos/Catalogos/'

dfEscolaridad = pd.read_csv(catalogos + 'escolaridad2012_2019.csv', encoding='latin-1')
dfEmpleo = pd.read_csv(catalogos + 'ocupacion2013_2019.csv', encoding='latin-1')

### Seleccionar las columnas relevantes para cumplir con los objetivos del proyecto

In [ ]:
df2010 = df2010[['ent_resid', 'ent_resid_nm', 'ICD', 'detailCaus', 'ocupacion', 'desc_ocupacion', 'escolarida', 'desc_escolaridad']]
df2011 = df2011[['ent_resid', 'ent_resid_nm', 'ICD', 'detailCaus', 'ocupacion', 'desc_ocupacion', 'escolarida', 'desc_escolaridad']]
# df2012 = df2012[['date_ocurr', 'ent_resid', 'ent_resid_nm', 'ICD', 'detailCaus', 'ocupacion', 'desc_ocupacion', 'escolarida', 'desc_escolaridad']]
df2012 = df2012[['ent_resid', 'ent_resid_nm', 'ICD', 'detailCaus', 'ocupacion', 'desc_ocupacion', 'escolarida', 'desc_escolaridad']]
df2013 = df2013[['ent_resid', 'ent_resid_nm', 'ICD', 'detailCaus', 'ocupacion', 'desc_ocupacion', 'escolarida', 'desc_escolaridad']]
df2014 = df2014[['ent_resid', 'ent_resid_nm', 'ICD', 'detailCaus', 'ocupacion', 'desc_ocupacion', 'escolarida', 'desc_escolaridad']]
df2015 = df2015[['ent_resid', 'ent_resid_nm', 'ICD', 'detailCaus', 'ocupacion', 'desc_ocupacion', 'escolarida', 'desc_escolaridad']]
df2016 = df2016[['ent_resid', 'ent_resid_nm', 'ICD', 'detailCaus', 'ocupacion', 'desc_ocupacion', 'escolarida', 'desc_escolaridad']]
df2017 = df2017[['ent_resid', 'ent_resid_nm', 'ICD', 'detailCaus', 'ocupacion', 'desc_ocupacion', 'escolarida', 'desc_escolaridad']]
df2018 = df2018[['ent_resid', 'ent_resid_nm', 'ICD', 'detailCaus', 'ocupacion', 'desc_ocupacion', 'escolarida', 'desc_escolaridad']]
df2019 = df2019[['ent_resid', 'ent_resid_nm', 'ICD', 'detailCaus', 'ocupacion', 'desc_ocupacion', 'escolarida', 'desc_escolaridad']]

NameError: ignored

# LIMPIEZA

## Limpieza por Estado ---------------------------------------------------------------------------------------------------

### Detectar los valores de EUA

In [ ]:
condicion2010 = (df2010['ent_resid_nm'] == 'Estados unidos de America')
condicion2011 = (df2011['ent_resid_nm'] == 'Estados unidos de America')
condicion2012 = (df2012['ent_resid_nm'] == 'Estados unidos de America')
condicion2013 = (df2013['ent_resid_nm'] == 'Estados unidos de America')
condicion2014 = (df2014['ent_resid_nm'] == 'Estados unidos de America')
condicion2015 = (df2015['ent_resid_nm'] == 'Estados unidos de America')
condicion2016 = (df2016['ent_resid_nm'] == 'Estados unidos de America')
condicion2017 = (df2017['ent_resid_nm'] == 'Estados unidos de America')
condicion2018 = (df2018['ent_resid_nm'] == 'Estados unidos de America')
condicion2019 = (df2019['ent_resid_nm'] == 'Estados unidos de America')

### Contar la cantidad de registros por cada fragmento con el valor de EUA

In [ ]:
print('Cantidad de basura en el dataframe 2010: ', df2010.loc[condicion2010].shape[0])
print('Cantidad de basura en el dataframe 2011: ', df2011.loc[condicion2011].shape[0])
print('Cantidad de basura en el dataframe 2012: ', df2012.loc[condicion2012].shape[0])
print('Cantidad de basura en el dataframe 2013: ', df2013.loc[condicion2013].shape[0])
print('Cantidad de basura en el dataframe 2014: ', df2014.loc[condicion2014].shape[0])
print('Cantidad de basura en el dataframe 2015: ', df2015.loc[condicion2015].shape[0])
print('Cantidad de basura en el dataframe 2016: ', df2016.loc[condicion2016].shape[0])
print('Cantidad de basura en el dataframe 2017: ', df2017.loc[condicion2017].shape[0])
print('Cantidad de basura en el dataframe 2018: ', df2018.loc[condicion2018].shape[0])
print('Cantidad de basura en el dataframe 2019: ', df2019.loc[condicion2019].shape[0])

Cantidad de basura en el dataframe 2010:  99
Cantidad de basura en el dataframe 2011:  96
Cantidad de basura en el dataframe 2012:  77
Cantidad de basura en el dataframe 2013:  94
Cantidad de basura en el dataframe 2014:  86
Cantidad de basura en el dataframe 2015:  77
Cantidad de basura en el dataframe 2016:  117
Cantidad de basura en el dataframe 2017:  121
Cantidad de basura en el dataframe 2018:  88
Cantidad de basura en el dataframe 2019:  87

### Eliminacion de registros

In [ ]:
# Como el proyecto tiene como objetivo analizar datos de personas en Mexico, se considera necesario eliminar los datos de personas
# las cuales pertenezcan a EUA

df2010 = df2010.drop(df2010[condicion2010].index)
df2011 = df2011.drop(df2011[condicion2011].index)
df2012 = df2012.drop(df2012[condicion2012].index)
df2013 = df2013.drop(df2013[condicion2013].index)
df2014 = df2014.drop(df2014[condicion2014].index)
df2015 = df2015.drop(df2015[condicion2015].index)
df2016 = df2016.drop(df2016[condicion2016].index)
df2017 = df2017.drop(df2017[condicion2017].index)
df2018 = df2018.drop(df2018[condicion2018].index)
df2019 = df2019.drop(df2019[condicion2019].index)

### Comprobar de la inexistencia del valor de EUA

In [ ]:
def ordenarLista(lista):
  listaSinNan = [valor for valor in lista if type(valor) != float]
  listaOrdenada = sorted(listaSinNan)
  listaOrdenada.append('NaN')

  return listaOrdenada

lista2010 = list(df2010['ent_resid_nm'].unique())
lista2011 = list(df2011['ent_resid_nm'].unique())
lista2012 = list(df2012['ent_resid_nm'].unique())
lista2013 = list(df2013['ent_resid_nm'].unique())
lista2014 = list(df2014['ent_resid_nm'].unique())
lista2015 = list(df2015['ent_resid_nm'].unique())
lista2016 = list(df2016['ent_resid_nm'].unique())
lista2017 = list(df2017['ent_resid_nm'].unique())
lista2018 = list(df2018['ent_resid_nm'].unique())
lista2019 = list(df2019['ent_resid_nm'].unique())

print("DataFrame 2010".center(100, '-'))
print(ordenarLista(lista2010))
print("DataFrame 2011".center(100, '-'))
print(ordenarLista(lista2011))
print("DataFrame 2012".center(100, '-'))
print(ordenarLista(lista2012))
print("DataFrame 2013".center(100, '-'))
print(ordenarLista(lista2013))
print("DataFrame 2014".center(100, '-'))
print(ordenarLista(lista2014))
print("DataFrame 2015".center(100, '-'))
print(ordenarLista(lista2015))
print("DataFrame 2016".center(100, '-'))
print(ordenarLista(lista2016))
print("DataFrame 2017".center(100, '-'))
print(ordenarLista(lista2017))
print("DataFrame 2018".center(100, '-'))
print(ordenarLista(lista2018))
print("DataFrame 2019".center(100, '-'))
print(ordenarLista(lista2019))

-------------------------------------------DataFrame 2010-------------------------------------------
['Aguascalientes', 'Baja California', 'Baja California Sur', 'Campeche', 'Chiapas', 'Chihuahua', 'Coahuila de Zaragoza', 'Colima', 'Distrito Federal', 'Durango', 'Guanajuato', 'Guerrero', 'Hidalgo', 'Jalisco', 'Michoacán de Ocampo', 'Morelos', 'México', 'Nayarit', 'Nuevo León', 'Oaxaca', 'Puebla', 'Querétaro', 'Quintana Roo', 'San Luis Potosí', 'Sinaloa', 'Sonora', 'Tabasco', 'Tamaulipas', 'Tlaxcala', 'Veracruz de Ignacio de la Llave', 'Yucatán', 'Zacatecas', 'NaN']
-------------------------------------------DataFrame 2011-------------------------------------------
['Aguascalientes', 'Baja California', 'Baja California Sur', 'Campeche', 'Chiapas', 'Chihuahua', 'Coahuila de Zaragoza', 'Colima', 'Distrito Federal', 'Durango', 'Guanajuato', 'Guerrero', 'Hidalgo', 'Jalisco', 'Michoacán de Ocampo', 'Morelos', 'México', 'Nayarit', 'Nuevo León', 'Oaxaca', 'Puebla', 'Querétaro', 'Quintana Roo', 'San Luis Potosí', 'Sinaloa', 'Sonora', 'Tabasco', 'Tamaulipas', 'Tlaxcala', 'Veracruz de Ignacio de la Llave', 'Yucatán', 'Zacatecas', 'NaN']
-------------------------------------------DataFrame 2012-------------------------------------------
['Aguascalientes', 'Baja California', 'Baja California Sur', 'Campeche', 'Chiapas', 'Chihuahua', 'Coahuila de Zaragoza', 'Colima', 'Distrito Federal', 'Durango', 'Guanajuato', 'Guerrero', 'Hidalgo', 'Jalisco', 'Michoacán de Ocampo', 'Morelos', 'México', 'Nayarit', 'Nuevo León', 'Oaxaca', 'Puebla', 'Querétaro', 'Quintana Roo', 'San Luis Potosí', 'Sinaloa', 'Sonora', 'Tabasco', 'Tamaulipas', 'Tlaxcala', 'Veracruz de Ignacio de la Llave', 'Yucatán', 'Zacatecas', 'NaN']
-------------------------------------------DataFrame 2013-------------------------------------------
['Aguascalientes', 'Baja California', 'Baja California Sur', 'Campeche', 'Chiapas', 'Chihuahua', 'Coahuila de Zaragoza', 'Colima', 'Distrito Federal', 'Durango', 'Guanajuato', 'Guerrero', 'Hidalgo', 'Jalisco', 'Michoacán de Ocampo', 'Morelos', 'México', 'Nayarit', 'Nuevo León', 'Oaxaca', 'Puebla', 'Querétaro', 'Quintana Roo', 'San Luis Potosí', 'Sinaloa', 'Sonora', 'Tabasco', 'Tamaulipas', 'Tlaxcala', 'Veracruz de Ignacio de la Llave', 'Yucatán', 'Zacatecas', 'NaN']
-------------------------------------------DataFrame 2014-------------------------------------------
['Aguascalientes', 'Baja California', 'Baja California Sur', 'Campeche', 'Chiapas', 'Chihuahua', 'Coahuila de Zaragoza', 'Colima', 'Distrito Federal', 'Durango', 'Guanajuato', 'Guerrero', 'Hidalgo', 'Jalisco', 'Michoacán de Ocampo', 'Morelos', 'México', 'Nayarit', 'Nuevo León', 'Oaxaca', 'Puebla', 'Querétaro', 'Quintana Roo', 'San Luis Potosí', 'Sinaloa', 'Sonora', 'Tabasco', 'Tamaulipas', 'Tlaxcala', 'Veracruz de Ignacio de la Llave', 'Yucatán', 'Zacatecas', 'NaN']
-------------------------------------------DataFrame 2015-------------------------------------------
['Aguascalientes', 'Baja California', 'Baja California Sur', 'Campeche', 'Chiapas', 'Chihuahua', 'Coahuila de Zaragoza', 'Colima', 'Distrito Federal', 'Durango', 'Guanajuato', 'Guerrero', 'Hidalgo', 'Jalisco', 'Michoacán de Ocampo', 'Morelos', 'México', 'Nayarit', 'Nuevo León', 'Oaxaca', 'Puebla', 'Querétaro', 'Quintana Roo', 'San Luis Potosí', 'Sinaloa', 'Sonora', 'Tabasco', 'Tamaulipas', 'Tlaxcala', 'Veracruz de Ignacio de la Llave', 'Yucatán', 'Zacatecas', 'NaN']
-------------------------------------------DataFrame 2016-------------------------------------------
['Aguascalientes', 'Baja California', 'Baja California Sur', 'Campeche', 'Chiapas', 'Chihuahua', 'Coahuila de Zaragoza', 'Colima', 'Distrito Federal', 'Durango', 'Guanajuato', 'Guerrero', 'Hidalgo', 'Jalisco', 'Michoacán de Ocampo', 'Morelos', 'México', 'Nayarit', 'Nuevo León', 'Oaxaca', 'Puebla', 'Querétaro', 'Quintana Roo', 'San Luis Potosí', 'Sinaloa', 'Sonora', 'Tabasco', 'Tamaulipas', 'Tlaxcala', 'Veracruz de Ignacio de la Llave', 'Yucatán', 'Zacatecas', 'NaN']
-------------------------------------------DataFrame 2017-------------------------------------------
['Aguascalientes', 'Baja California', 'Baja California Sur', 'Campeche', 'Chiapas', 'Chihuahua', 'Coahuila de Zaragoza', 'Colima', 'Distrito Federal', 'Durango', 'Guanajuato', 'Guerrero', 'Hidalgo', 'Jalisco', 'Michoacán de Ocampo', 'Morelos', 'México', 'Nayarit', 'Nuevo León', 'Oaxaca', 'Puebla', 'Querétaro', 'Quintana Roo', 'San Luis Potosí', 'Sinaloa', 'Sonora', 'Tabasco', 'Tamaulipas', 'Tlaxcala', 'Veracruz de Ignacio de la Llave', 'Yucatán', 'Zacatecas', 'NaN']
-------------------------------------------DataFrame 2018-------------------------------------------
['Aguascalientes', 'Baja California', 'Baja California Sur', 'Campeche', 'Chiapas', 'Chihuahua', 'Coahuila de Zaragoza', 'Colima', 'Distrito Federal', 'Durango', 'Guanajuato', 'Guerrero', 'Hidalgo', 'Jalisco', 'Michoacán de Ocampo', 'Morelos', 'México', 'Nayarit', 'Nuevo León', 'Oaxaca', 'Puebla', 'Querétaro', 'Quintana Roo', 'San Luis Potosí', 'Sinaloa', 'Sonora', 'Tabasco', 'Tamaulipas', 'Tlaxcala', 'Veracruz de Ignacio de la Llave', 'Yucatán', 'Zacatecas', 'NaN']
-------------------------------------------DataFrame 2019-------------------------------------------
['Aguascalientes', 'Baja California', 'Baja California Sur', 'Campeche', 'Chiapas', 'Chihuahua', 'Coahuila de Zaragoza', 'Colima', 'Distrito Federal', 'Durango', 'Guanajuato', 'Guerrero', 'Hidalgo', 'Jalisco', 'Michoacán de Ocampo', 'Morelos', 'México', 'Nayarit', 'Nuevo León', 'Oaxaca', 'Puebla', 'Querétaro', 'Quintana Roo', 'San Luis Potosí', 'Sinaloa', 'Sonora', 'Tabasco', 'Tamaulipas', 'Tlaxcala', 'Veracruz de Ignacio de la Llave', 'Yucatán', 'Zacatecas', 'NaN']

### Tratamiento de valores nulos

In [ ]:
# En teoria este deberia hacerse para la categoria del cancer, empelo y educacion, pero esas 3 columnas no presentaron valores nulos
spImputer = SimpleImputer(strategy='most_frequent')

spImputer.fit(df2010[['ent_resid_nm']])
df2010[['ent_resid_nm']] = spImputer.transform(df2010[['ent_resid_nm']])
spImputer.fit(df2011[['ent_resid_nm']])
df2011[['ent_resid_nm']] = spImputer.transform(df2011[['ent_resid_nm']])
spImputer.fit(df2012[['ent_resid_nm']])
df2012[['ent_resid_nm']] = spImputer.transform(df2012[['ent_resid_nm']])
spImputer.fit(df2013[['ent_resid_nm']])
df2013[['ent_resid_nm']] = spImputer.transform(df2013[['ent_resid_nm']])
spImputer.fit(df2014[['ent_resid_nm']])
df2014[['ent_resid_nm']] = spImputer.transform(df2014[['ent_resid_nm']])
spImputer.fit(df2015[['ent_resid_nm']])
df2015[['ent_resid_nm']] = spImputer.transform(df2015[['ent_resid_nm']])
spImputer.fit(df2016[['ent_resid_nm']])
df2016[['ent_resid_nm']] = spImputer.transform(df2016[['ent_resid_nm']])
spImputer.fit(df2017[['ent_resid_nm']])
df2017[['ent_resid_nm']] = spImputer.transform(df2017[['ent_resid_nm']])
spImputer.fit(df2018[['ent_resid_nm']])
df2018[['ent_resid_nm']] = spImputer.transform(df2018[['ent_resid_nm']])
spImputer.fit(df2019[['ent_resid_nm']])
df2019[['ent_resid_nm']] = spImputer.transform(df2019[['ent_resid_nm']])

### Comprobacion de la inexistencia de valores nulos

In [ ]:
print("DataFrame 2010".center(100, '-'))
print(list(df2010['ent_resid_nm'].unique()))
print("DataFrame 2011".center(100, '-'))
print(list(df2011['ent_resid_nm'].unique()))
print("DataFrame 2012".center(100, '-'))
print(list(df2012['ent_resid_nm'].unique()))
print("DataFrame 2013".center(100, '-'))
print(list(df2013['ent_resid_nm'].unique()))
print("DataFrame 2014".center(100, '-'))
print(list(df2014['ent_resid_nm'].unique()))
print("DataFrame 2015".center(100, '-'))
print(list(df2015['ent_resid_nm'].unique()))
print("DataFrame 2016".center(100, '-'))
print(list(df2016['ent_resid_nm'].unique()))
print("DataFrame 2017".center(100, '-'))
print(list(df2017['ent_resid_nm'].unique()))
print("DataFrame 2018".center(100, '-'))
print(list(df2018['ent_resid_nm'].unique()))
print("DataFrame 2019".center(100, '-'))
print(list(df2019['ent_resid_nm'].unique()))

-------------------------------------------DataFrame 2010-------------------------------------------
['Aguascalientes', 'Jalisco', 'Querétaro', 'Michoacán de Ocampo', 'Zacatecas', 'Distrito Federal', 'México', 'Oaxaca', 'Guanajuato', 'Baja California', 'Sonora', 'Baja California Sur', 'Sinaloa', 'Morelos', 'Colima', 'Campeche', 'Yucatán', 'Chiapas', 'Veracruz de Ignacio de la Llave', 'Coahuila de Zaragoza', 'Tabasco', 'Quintana Roo', 'Chihuahua', 'Durango', 'Nuevo León', 'Puebla', 'San Luis Potosí', 'Guerrero', 'Tlaxcala', 'Hidalgo', 'Tamaulipas', 'Nayarit']
-------------------------------------------DataFrame 2011-------------------------------------------
['Aguascalientes', 'Jalisco', 'Zacatecas', 'Veracruz de Ignacio de la Llave', 'México', 'San Luis Potosí', 'Baja California', 'Michoacán de Ocampo', 'Sonora', 'Durango', 'Guerrero', 'Sinaloa', 'Baja California Sur', 'Distrito Federal', 'Querétaro', 'Campeche', 'Nuevo León', 'Coahuila de Zaragoza', 'Chihuahua', 'Tabasco', 'Tamaulipas', 'Colima', 'Chiapas', 'Oaxaca', 'Hidalgo', 'Puebla', 'Tlaxcala', 'Morelos', 'Guanajuato', 'Nayarit', 'Quintana Roo', 'Yucatán']
-------------------------------------------DataFrame 2012-------------------------------------------
['Aguascalientes', 'Zacatecas', 'Jalisco', 'Baja California', 'Nayarit', 'Sonora', 'Sinaloa', 'Baja California Sur', 'Tamaulipas', 'Campeche', 'Coahuila de Zaragoza', 'Quintana Roo', 'Tabasco', 'Durango', 'Nuevo León', 'Colima', 'Michoacán de Ocampo', 'Chiapas', 'Oaxaca', 'Veracruz de Ignacio de la Llave', 'Chihuahua', 'México', 'Distrito Federal', 'Morelos', 'Guerrero', 'Puebla', 'Hidalgo', 'Querétaro', 'Guanajuato', 'Tlaxcala', 'San Luis Potosí', 'Yucatán']
-------------------------------------------DataFrame 2013-------------------------------------------
['Aguascalientes', 'Jalisco', 'Baja California', 'Baja California Sur', 'Campeche', 'Quintana Roo', 'Coahuila de Zaragoza', 'Durango', 'Colima', 'Chiapas', 'Chihuahua', 'Morelos', 'México', 'Oaxaca', 'Tlaxcala', 'Distrito Federal', 'Hidalgo', 'Guerrero', 'Veracruz de Ignacio de la Llave', 'Puebla', 'Querétaro', 'Zacatecas', 'Guanajuato', 'Nayarit', 'Michoacán de Ocampo', 'Sinaloa', 'Nuevo León', 'Tamaulipas', 'Yucatán', 'San Luis Potosí', 'Sonora', 'Tabasco']
-------------------------------------------DataFrame 2014-------------------------------------------
['Aguascalientes', 'Baja California', 'Michoacán de Ocampo', 'Campeche', 'Quintana Roo', 'Coahuila de Zaragoza', 'Zacatecas', 'Colima', 'Chiapas', 'Chihuahua', 'México', 'Guerrero', 'Distrito Federal', 'Puebla', 'Veracruz de Ignacio de la Llave', 'Hidalgo', 'Guanajuato', 'Durango', 'Jalisco', 'Sinaloa', 'Nayarit', 'Tamaulipas', 'Nuevo León', 'Oaxaca', 'Querétaro', 'San Luis Potosí', 'Sonora', 'Tabasco', 'Tlaxcala', 'Yucatán', 'Morelos', 'Baja California Sur']
-------------------------------------------DataFrame 2015-------------------------------------------
['Aguascalientes', 'Jalisco', 'Coahuila de Zaragoza', 'Zacatecas', 'Baja California', 'Sonora', 'Querétaro', 'Baja California Sur', 'Campeche', 'Quintana Roo', 'Oaxaca', 'Durango', 'Chihuahua', 'Nuevo León', 'Colima', 'Chiapas', 'San Luis Potosí', 'Distrito Federal', 'Hidalgo', 'México', 'Sinaloa', 'Michoacán de Ocampo', 'Tamaulipas', 'Guanajuato', 'Veracruz de Ignacio de la Llave', 'Puebla', 'Guerrero', 'Morelos', 'Tabasco', 'Nayarit', 'Tlaxcala', 'Yucatán']
-------------------------------------------DataFrame 2016-------------------------------------------
['Aguascalientes', 'Sonora', 'Baja California', 'Coahuila de Zaragoza', 'México', 'Baja California Sur', 'Campeche', 'Durango', 'Nuevo León', 'Tamaulipas', 'Chihuahua', 'Colima', 'Jalisco', 'Michoacán de Ocampo', 'Chiapas', 'Querétaro', 'Distrito Federal', 'Guanajuato', 'Hidalgo', 'Veracruz de Ignacio de la Llave', 'Oaxaca', 'Tabasco', 'Quintana Roo', 'Guerrero', 'Puebla', 'Morelos', 'Tlaxcala', 'San Luis Potosí', 'Nayarit', 'Zacatecas', 'Sinaloa', 'Yucatán']
-------------------------------------------DataFrame 2017-------------------------------------------
['Aguascalientes', 'Baja California', 'México', 'Campeche', 'Durango', 'Coahuila de Zaragoza', 'Colima', 'Chiapas', 'Chihuahua', 'Tabasco', 'Distrito Federal', 'Querétaro', 'Sinaloa', 'Morelos', 'Guerrero', 'Nuevo León', 'Tamaulipas', 'Michoacán de Ocampo', 'Guanajuato', 'Hidalgo', 'Jalisco', 'Nayarit', 'Sonora', 'Oaxaca', 'Puebla', 'Veracruz de Ignacio de la Llave', 'Quintana Roo', 'San Luis Potosí', 'Tlaxcala', 'Yucatán', 'Zacatecas', 'Baja California Sur']
-------------------------------------------DataFrame 2018-------------------------------------------
['Aguascalientes', 'Baja California', 'Baja California Sur', 'Campeche', 'Coahuila de Zaragoza', 'Colima', 'Chiapas', 'Chihuahua', 'Durango', 'Distrito Federal', 'México', 'Guanajuato', 'Guerrero', 'Hidalgo', 'Jalisco', 'Sinaloa', 'Michoacán de Ocampo', 'Morelos', 'Nayarit', 'Nuevo León', 'Oaxaca', 'Puebla', 'Querétaro', 'Quintana Roo', 'San Luis Potosí', 'Sonora', 'Tabasco', 'Veracruz de Ignacio de la Llave', 'Tamaulipas', 'Tlaxcala', 'Yucatán', 'Zacatecas']
-------------------------------------------DataFrame 2019-------------------------------------------
['Aguascalientes', 'Guanajuato', 'Zacatecas', 'Baja California', 'Sonora', 'Chiapas', 'Chihuahua', 'Nayarit', 'Guerrero', 'Baja California Sur', 'Campeche', 'Quintana Roo', 'Yucatán', 'Veracruz de Ignacio de la Llave', 'Coahuila de Zaragoza', 'Durango', 'Nuevo León', 'México', 'Colima', 'Michoacán de Ocampo', 'Jalisco', 'Sinaloa', 'Distrito Federal', 'Hidalgo', 'Oaxaca', 'Tlaxcala', 'Querétaro', 'Morelos', 'Tabasco', 'Puebla', 'San Luis Potosí', 'Tamaulipas']

## Limpieza por Empleo ---------------------------------------------------------------------------------------------------

### Detectar Basura

In [ ]:

dfRuido2010 = df2010[df2010['desc_ocupacion'].isnull()]
dfRuido2011 = df2011[df2011['desc_ocupacion'].isnull()]
dfRuido2012 = df2012[df2012['desc_ocupacion'].isnull()]
dfRuido2013 = df2013[df2013['desc_ocupacion'].isnull()]
dfRuido2014 = df2014[df2014['desc_ocupacion'].isnull()]
dfRuido2015 = df2015[df2015['desc_ocupacion'].isnull()]
dfRuido2016 = df2016[df2016['desc_ocupacion'].isnull()]
dfRuido2017 = df2017[df2017['desc_ocupacion'].isnull()]
dfRuido2018 = df2018[df2018['desc_ocupacion'].isnull()]
dfRuido2019 = df2019[df2019['desc_ocupacion'].isnull()]

print(dfRuido2010['ocupacion'].unique())
print(dfRuido2011['ocupacion'].unique())
print(dfRuido2012['ocupacion'].unique())
print(dfRuido2013['ocupacion'].unique())
print(dfRuido2014['ocupacion'].unique())
print(dfRuido2015['ocupacion'].unique())
print(dfRuido2016['ocupacion'].unique())
print(dfRuido2017['ocupacion'].unique())
print(dfRuido2018['ocupacion'].unique())
print(dfRuido2019['ocupacion'].unique())
# Entonces solo hubo ruido en los años 2010 a 2012

[9 6 4 7]
[4 6 9 7 8 1]
[ 8  1  6  4  9  7  5  3 10]
[]
[]
[]
[]
[]
[]
[]

### Contar la cantidad de basura

In [ ]:
listaRuido2010 = list(dfRuido2010['ocupacion'].unique())
listaRuido2011 = list(dfRuido2011['ocupacion'].unique())
listaRuido2012 = list(dfRuido2012['ocupacion'].unique())

condicion2010 = df2010['ocupacion'].isin(listaRuido2010)
condicion2011 = df2011['ocupacion'].isin(listaRuido2011)
condicion2012 = df2012['ocupacion'].isin(listaRuido2012)

newDf2010 = df2010.loc[condicion2010]
newDf2011 = df2011.loc[condicion2011]
newDf2012 = df2012.loc[condicion2012]

print('Cantidad de basura en el dataframe 2010: ', newDf2010.shape[0])
print('Cantidad de basura en el dataframe 2011: ', newDf2011.shape[0])
print('Cantidad de basura en el dataframe 2012: ', newDf2012.shape[0])

Cantidad de basura en el dataframe 2010:  14
Cantidad de basura en el dataframe 2011:  31
Cantidad de basura en el dataframe 2012:  480

In [ ]:
"""
newDf2012['date_ocurr'] = pd.to_datetime(newDf2012['date_ocurr'])

conteo_por_mes = newDf2012.groupby(newDf2012['date_ocurr'].dt.strftime('%Y-%m')).size().reset_index(name='conteo')

# Renombrar la columna del mes
conteo_por_mes.rename(columns={'date_ocurr': 'mes'}, inplace=True)

print(conteo_por_mes)
"""

        mes  conteo
0   2012-01       4
1   2012-02       4
2   2012-03       5
3   2012-04       3
4   2012-05       8
5   2012-06       5
6   2012-07      10
7   2012-08      20
8   2012-09      12
9   2012-10      34
10  2012-11      43
11  2012-12     332

<ipython-input-16-7c1d7abdc67d>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  newDf2012['date_ocurr'] = pd.to_datetime(newDf2012['date_ocurr'])

### Reemplazar Basura por la moda

In [ ]:
# Determinar cual fue el valor mas comun en los años 2010 a 2012 en la columna ocupacion
moda2010 = df2010['ocupacion'].mode()[0]
moda2011 = df2011['ocupacion'].mode()[0]
moda2012 = df2012['ocupacion'].mode()[0]

print("DataFrame 2010. La moda en la columna 'ocupacion' es:", moda2010)
print("DataFrame 2011. La moda en la columna 'ocupacion' es:", moda2011)
print("DataFrame 2012. La moda en la columna 'ocupacion' es:", moda2012)
# Para los 3 años fue el valor: 2

# Buscar los registros que tienen los datos basura y reemplazarlos por el valor de la moda de cada
# fragmento
condicion2010 = df2010['ocupacion'].isin(listaRuido2010)
condicion2011 = df2011['ocupacion'].isin(listaRuido2011)
condicion2012 = df2012['ocupacion'].isin(listaRuido2012)

df2010.loc[condicion2010, 'ocupacion'] = 2
df2011.loc[condicion2011, 'ocupacion'] = 2
df2012.loc[condicion2012, 'ocupacion'] = 2

DataFrame 2010. La moda en la columna 'ocupacion' es: 2
DataFrame 2011. La moda en la columna 'ocupacion' es: 2
DataFrame 2012. La moda en la columna 'ocupacion' es: 2

### Comprobacion de que se elmino la basura

In [ ]:

dfRuido2010 = df2010[df2010['desc_ocupacion'].isnull()]
dfRuido2011 = df2011[df2011['desc_ocupacion'].isnull()]
dfRuido2012 = df2012[df2012['desc_ocupacion'].isnull()]

print("DataFrame 2010".center(100, '-'))
print(dfRuido2010[['ocupacion', 'desc_ocupacion']])
print("DataFrame 2011".center(100, '-'))
print(dfRuido2011[['ocupacion', 'desc_ocupacion']])
print("DataFrame 2012".center(100, '-'))
print(dfRuido2012[['ocupacion', 'desc_ocupacion']])

-------------------------------------------DataFrame 2010-------------------------------------------
       ocupacion desc_ocupacion
70167          2            NaN
70169          2            NaN
70173          2            NaN
70176          2            NaN
70187          2            NaN
70189          2            NaN
70190          2            NaN
70194          2            NaN
70206          2            NaN
70209          2            NaN
70213          2            NaN
70229          2            NaN
70230          2            NaN
70240          2            NaN
-------------------------------------------DataFrame 2011-------------------------------------------
       ocupacion desc_ocupacion
71113          2            NaN
71126          2            NaN
71127          2            NaN
71129          2            NaN
71130          2            NaN
71131          2            NaN
71136          2            NaN
71139          2            NaN
71141          2            NaN
71146          2            NaN
71147          2            NaN
71159          2            NaN
71165          2            NaN
71166          2            NaN
71169          2            NaN
71170          2            NaN
71171          2            NaN
71172          2            NaN
71175          2            NaN
71177          2            NaN
71180          2            NaN
71190          2            NaN
71194          2            NaN
71198          2            NaN
71199          2            NaN
71202          2            NaN
71208          2            NaN
71209          2            NaN
71216          2            NaN
71220          2            NaN
71224          2            NaN
-------------------------------------------DataFrame 2012-------------------------------------------
       ocupacion desc_ocupacion
18606          2            NaN
18608          2            NaN
18609          2            NaN
18610          2            NaN
18611          2            NaN
...          ...            ...
72355          2            NaN
72366          2            NaN
72387          2            NaN
72388          2            NaN
73061          2            NaN

[480 rows x 2 columns]

### Mapear

In [ ]:
# Eliminar la descripcion de ocupacion de los dataset
df2010 = df2010.drop(['desc_ocupacion'], axis=1)
df2011 = df2011.drop(['desc_ocupacion'], axis=1)
df2012 = df2012.drop(['desc_ocupacion'], axis=1)

# Hacer mapeo en fragmento 2010
df2010.loc[condicion2010, 'ocupacion'] = 2
df2010.loc[condicion2010, 'ocupacion'] = 2
df2010.loc[condicion2010, 'ocupacion'] = 2
df2010.loc[condicion2010, 'ocupacion'] = 2
df2010.loc[condicion2010, 'ocupacion'] = 2
df2010.loc[condicion2010, 'ocupacion'] = 2
df2010.loc[condicion2010, 'ocupacion'] = 2
df2010.loc[condicion2010, 'ocupacion'] = 2
df2010.loc[condicion2010, 'ocupacion'] = 2



# Realizar nuevamente la integracion de las bases de datos 2010, 2011 y 2012 con
# los catalogos de empleo de los años 2013 a 2019
df2010 = pd.merge(dfEmpleo, how='inner', left_on='ocupacion', right_on='CVE')
df2011 = pd.merge(dfEmpleo, how='inner', left_on='ocupacion', right_on='CVE')
df2012 = pd.merge(dfEmpleo, how='inner', left_on='ocupacion', right_on='CVE')

       ent_resid    ent_resid_nm  ICD  \
0              1  Aguascalientes  C25
1              1  Aguascalientes  C22
2              1  Aguascalientes  C34
3              1  Aguascalientes  C49
4              1  Aguascalientes  C20
...          ...             ...  ...
70237         10         Durango  C22
70238         18         Nayarit  C23
70239         25         Sinaloa  C50
70240         28      Tamaulipas  C34
70241         28      Tamaulipas  C22

                                              detailCaus  ocupacion  \
0                Tumor maligno de la cabeza del páncreas         41
1              Tumor maligno del hígado, no especificado          2
2      Tumor maligno de los bronquios o del pulmón, p...          2
3      Tumor maligno de parte especificada del peritoneo          2
4         Tumor maligno del colon, parte no especificada         55
...                                                  ...        ...
70237          Tumor maligno del hígado, no especificado         99
70238  Tumor maligno de las vías biliares extrahepáticas         99
70239    Tumor maligno de la mama, parte no especificada         98
70240  Tumor maligno de los bronquios o del pulmón, p...          2
70241          Tumor maligno del hígado, no especificado         11

       escolarida             desc_escolaridad
0               1              Sin escolaridad
1               1              Sin escolaridad
2               3            Primaria completa
3               1              Sin escolaridad
4               5          Secundaria completa
...           ...                          ...
70237          99                          NaN
70238          99                          NaN
70239          10                          NaN
70240           3            Primaria completa
70241           6  Bachillerato o preparatoria

[70143 rows x 7 columns]

KeyError: ignored

## Limpieza por Educacion ---------------------------------------------------------------------------------------------------

## Conclusión de la Limpieza ---------------------------------------------------------------------------------------------------

### Selección de las columnas

In [ ]:
df2010 = df2010[['ent_resid_nm', 'detailCaus', 'desc_ocupacion', 'desc_escolaridad']]
df2011 = df2011[['ent_resid_nm', 'detailCaus', 'desc_ocupacion', 'desc_escolaridad']]
df2012 = df2012[['ent_resid_nm', 'detailCaus', 'desc_ocupacion', 'desc_escolaridad']]
df2013 = df2013[['ent_resid_nm', 'detailCaus', 'desc_ocupacion', 'desc_escolaridad']]
df2014 = df2014[['ent_resid_nm', 'detailCaus', 'desc_ocupacion', 'desc_escolaridad']]
df2015 = df2015[['ent_resid_nm', 'detailCaus', 'desc_ocupacion', 'desc_escolaridad']]
df2016 = df2016[['ent_resid_nm', 'detailCaus', 'desc_ocupacion', 'desc_escolaridad']]
df2017 = df2017[['ent_resid_nm', 'detailCaus', 'desc_ocupacion', 'desc_escolaridad']]
df2018 = df2018[['ent_resid_nm', 'detailCaus', 'desc_ocupacion', 'desc_escolaridad']]
df2019 = df2019[['ent_resid_nm', 'detailCaus', 'desc_ocupacion', 'desc_escolaridad']]

### Almacenar nueva base de datos

In [ ]:
nuevaMortalidadLimpia = '/content/drive/MyDrive/Pt2/Primeras Actividades/0 Bases de Datos/Nueva Mortalidad Limpia/'

df2010.to_csv(nuevaMortalidadLimpia + '2010.csv')
df2011.to_csv(nuevaMortalidadLimpia + '2011.csv')
df2012.to_csv(nuevaMortalidadLimpia + '2012.csv')
df2013.to_csv(nuevaMortalidadLimpia + '2013.csv')
df2014.to_csv(nuevaMortalidadLimpia + '2014.csv')
df2015.to_csv(nuevaMortalidadLimpia + '2015.csv')
df2016.to_csv(nuevaMortalidadLimpia + '2016.csv')
df2017.to_csv(nuevaMortalidadLimpia + '2017.csv')
df2018.to_csv(nuevaMortalidadLimpia + '2018.csv')
df2019.to_csv(nuevaMortalidadLimpia + '2019.csv')