<a href="https://colab.research.google.com/github/aledelorbe/pt2Codigos/blob/main/PrimerasActividades/Limpieza.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Cargar librerias

In [275]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.impute import SimpleImputer

### Cargar los dataFrame

In [276]:
nuevaMortalidad = '/content/drive/MyDrive/Pt2/Primeras Actividades/0 Bases de Datos/Nueva Mortalidad/'

df2010 = pd.read_csv(nuevaMortalidad + '2010.csv')
df2011 = pd.read_csv(nuevaMortalidad + '2011.csv')
df2012 = pd.read_csv(nuevaMortalidad + '2012.csv')
df2013 = pd.read_csv(nuevaMortalidad + '2013.csv')
df2014 = pd.read_csv(nuevaMortalidad + '2014.csv')
df2015 = pd.read_csv(nuevaMortalidad + '2015.csv')
df2016 = pd.read_csv(nuevaMortalidad + '2016.csv')
df2017 = pd.read_csv(nuevaMortalidad + '2017.csv')
df2018 = pd.read_csv(nuevaMortalidad + '2018.csv')
df2019 = pd.read_csv(nuevaMortalidad + '2019.csv')

### Cargar el catalogoa de empleo y educacion ("Recientes")

In [277]:
catalogos = '/content/drive/MyDrive/Pt2/Primeras Actividades/0 Bases de Datos/Catalogos/'

dfEscolaridad = pd.read_csv(catalogos + 'escolaridad2012_2019.csv', encoding='latin-1')
dfEmpleo = pd.read_csv(catalogos + 'ocupacion2013_2019.csv', encoding='latin-1')

### Seleccionar las columnas relevantes para cumplir con los objetivos del proyecto

In [278]:
df2010 = df2010[['ent_resid', 'ent_resid_nm', 'ICD', 'detailCaus', 'ocupacion', 'desc_ocupacion', 'escolarida', 'desc_escolaridad']]
df2011 = df2011[['ent_resid', 'ent_resid_nm', 'ICD', 'detailCaus', 'ocupacion', 'desc_ocupacion', 'escolarida', 'desc_escolaridad']]
df2012 = df2012[['ent_resid', 'ent_resid_nm', 'ICD', 'detailCaus', 'ocupacion', 'desc_ocupacion', 'escolarida', 'desc_escolaridad']]
df2013 = df2013[['ent_resid', 'ent_resid_nm', 'ICD', 'detailCaus', 'ocupacion', 'desc_ocupacion', 'escolarida', 'desc_escolaridad']]
df2014 = df2014[['ent_resid', 'ent_resid_nm', 'ICD', 'detailCaus', 'ocupacion', 'desc_ocupacion', 'escolarida', 'desc_escolaridad']]
df2015 = df2015[['ent_resid', 'ent_resid_nm', 'ICD', 'detailCaus', 'ocupacion', 'desc_ocupacion', 'escolarida', 'desc_escolaridad']]
df2016 = df2016[['ent_resid', 'ent_resid_nm', 'ICD', 'detailCaus', 'ocupacion', 'desc_ocupacion', 'escolarida', 'desc_escolaridad']]
df2017 = df2017[['ent_resid', 'ent_resid_nm', 'ICD', 'detailCaus', 'ocupacion', 'desc_ocupacion', 'escolarida', 'desc_escolaridad']]
df2018 = df2018[['ent_resid', 'ent_resid_nm', 'ICD', 'detailCaus', 'ocupacion', 'desc_ocupacion', 'escolarida', 'desc_escolaridad']]
df2019 = df2019[['ent_resid', 'ent_resid_nm', 'ICD', 'detailCaus', 'ocupacion', 'desc_ocupacion', 'escolarida', 'desc_escolaridad']]

# LIMPIEZA

## Limpieza por Estado ---------------------------------------------------------------------------------------------------

### Detectar los valores de EUA

In [279]:
condicion2010 = (df2010['ent_resid_nm'] == 'Estados unidos de America')
condicion2011 = (df2011['ent_resid_nm'] == 'Estados unidos de America')
condicion2012 = (df2012['ent_resid_nm'] == 'Estados unidos de America')
condicion2013 = (df2013['ent_resid_nm'] == 'Estados unidos de America')
condicion2014 = (df2014['ent_resid_nm'] == 'Estados unidos de America')
condicion2015 = (df2015['ent_resid_nm'] == 'Estados unidos de America')
condicion2016 = (df2016['ent_resid_nm'] == 'Estados unidos de America')
condicion2017 = (df2017['ent_resid_nm'] == 'Estados unidos de America')
condicion2018 = (df2018['ent_resid_nm'] == 'Estados unidos de America')
condicion2019 = (df2019['ent_resid_nm'] == 'Estados unidos de America')

### Contar la cantidad de registros por cada fragmento con el valor de EUA

In [280]:
print('Cantidad de basura en el dataframe 2010: ', df2010.loc[condicion2010].shape[0])
print('Cantidad de basura en el dataframe 2011: ', df2011.loc[condicion2011].shape[0])
print('Cantidad de basura en el dataframe 2012: ', df2012.loc[condicion2012].shape[0])
print('Cantidad de basura en el dataframe 2013: ', df2013.loc[condicion2013].shape[0])
print('Cantidad de basura en el dataframe 2014: ', df2014.loc[condicion2014].shape[0])
print('Cantidad de basura en el dataframe 2015: ', df2015.loc[condicion2015].shape[0])
print('Cantidad de basura en el dataframe 2016: ', df2016.loc[condicion2016].shape[0])
print('Cantidad de basura en el dataframe 2017: ', df2017.loc[condicion2017].shape[0])
print('Cantidad de basura en el dataframe 2018: ', df2018.loc[condicion2018].shape[0])
print('Cantidad de basura en el dataframe 2019: ', df2019.loc[condicion2019].shape[0])

Cantidad de basura en el dataframe 2010:  99
Cantidad de basura en el dataframe 2011:  96
Cantidad de basura en el dataframe 2012:  77
Cantidad de basura en el dataframe 2013:  94
Cantidad de basura en el dataframe 2014:  86
Cantidad de basura en el dataframe 2015:  77
Cantidad de basura en el dataframe 2016:  117
Cantidad de basura en el dataframe 2017:  121
Cantidad de basura en el dataframe 2018:  88
Cantidad de basura en el dataframe 2019:  87

### Eliminacion de registros

In [281]:
# Como el proyecto tiene como objetivo analizar datos de personas en Mexico, se considera necesario eliminar los datos de personas
# las cuales pertenezcan a EUA

df2010 = df2010.drop(df2010[condicion2010].index)
df2011 = df2011.drop(df2011[condicion2011].index)
df2012 = df2012.drop(df2012[condicion2012].index)
df2013 = df2013.drop(df2013[condicion2013].index)
df2014 = df2014.drop(df2014[condicion2014].index)
df2015 = df2015.drop(df2015[condicion2015].index)
df2016 = df2016.drop(df2016[condicion2016].index)
df2017 = df2017.drop(df2017[condicion2017].index)
df2018 = df2018.drop(df2018[condicion2018].index)
df2019 = df2019.drop(df2019[condicion2019].index)

### Comprobar de la inexistencia del valor de EUA

In [282]:
def ordenarLista(lista):
  listaSinNan = [valor for valor in lista if type(valor) != float]
  listaOrdenada = sorted(listaSinNan)
  listaOrdenada.append('NaN')

  return listaOrdenada

lista2010 = list(df2010['ent_resid_nm'].unique())
lista2011 = list(df2011['ent_resid_nm'].unique())
lista2012 = list(df2012['ent_resid_nm'].unique())
lista2013 = list(df2013['ent_resid_nm'].unique())
lista2014 = list(df2014['ent_resid_nm'].unique())
lista2015 = list(df2015['ent_resid_nm'].unique())
lista2016 = list(df2016['ent_resid_nm'].unique())
lista2017 = list(df2017['ent_resid_nm'].unique())
lista2018 = list(df2018['ent_resid_nm'].unique())
lista2019 = list(df2019['ent_resid_nm'].unique())

print("DataFrame 2010".center(100, '-'))
print(ordenarLista(lista2010))
print("DataFrame 2011".center(100, '-'))
print(ordenarLista(lista2011))
print("DataFrame 2012".center(100, '-'))
print(ordenarLista(lista2012))
print("DataFrame 2013".center(100, '-'))
print(ordenarLista(lista2013))
print("DataFrame 2014".center(100, '-'))
print(ordenarLista(lista2014))
print("DataFrame 2015".center(100, '-'))
print(ordenarLista(lista2015))
print("DataFrame 2016".center(100, '-'))
print(ordenarLista(lista2016))
print("DataFrame 2017".center(100, '-'))
print(ordenarLista(lista2017))
print("DataFrame 2018".center(100, '-'))
print(ordenarLista(lista2018))
print("DataFrame 2019".center(100, '-'))
print(ordenarLista(lista2019))

-------------------------------------------DataFrame 2010-------------------------------------------
['Aguascalientes', 'Baja California', 'Baja California Sur', 'Campeche', 'Chiapas', 'Chihuahua', 'Coahuila de Zaragoza', 'Colima', 'Distrito Federal', 'Durango', 'Guanajuato', 'Guerrero', 'Hidalgo', 'Jalisco', 'Michoacán de Ocampo', 'Morelos', 'México', 'Nayarit', 'Nuevo León', 'Oaxaca', 'Puebla', 'Querétaro', 'Quintana Roo', 'San Luis Potosí', 'Sinaloa', 'Sonora', 'Tabasco', 'Tamaulipas', 'Tlaxcala', 'Veracruz de Ignacio de la Llave', 'Yucatán', 'Zacatecas', 'NaN']
-------------------------------------------DataFrame 2011-------------------------------------------
['Aguascalientes', 'Baja California', 'Baja California Sur', 'Campeche', 'Chiapas', 'Chihuahua', 'Coahuila de Zaragoza', 'Colima', 'Distrito Federal', 'Durango', 'Guanajuato', 'Guerrero', 'Hidalgo', 'Jalisco', 'Michoacán de Ocampo', 'Morelos', 'México', 'Nayarit', 'Nuevo León', 'Oaxaca', 'Puebla', 'Querétaro', 'Quintana Roo', 'San Luis Potosí', 'Sinaloa', 'Sonora', 'Tabasco', 'Tamaulipas', 'Tlaxcala', 'Veracruz de Ignacio de la Llave', 'Yucatán', 'Zacatecas', 'NaN']
-------------------------------------------DataFrame 2012-------------------------------------------
['Aguascalientes', 'Baja California', 'Baja California Sur', 'Campeche', 'Chiapas', 'Chihuahua', 'Coahuila de Zaragoza', 'Colima', 'Distrito Federal', 'Durango', 'Guanajuato', 'Guerrero', 'Hidalgo', 'Jalisco', 'Michoacán de Ocampo', 'Morelos', 'México', 'Nayarit', 'Nuevo León', 'Oaxaca', 'Puebla', 'Querétaro', 'Quintana Roo', 'San Luis Potosí', 'Sinaloa', 'Sonora', 'Tabasco', 'Tamaulipas', 'Tlaxcala', 'Veracruz de Ignacio de la Llave', 'Yucatán', 'Zacatecas', 'NaN']
-------------------------------------------DataFrame 2013-------------------------------------------
['Aguascalientes', 'Baja California', 'Baja California Sur', 'Campeche', 'Chiapas', 'Chihuahua', 'Coahuila de Zaragoza', 'Colima', 'Distrito Federal', 'Durango', 'Guanajuato', 'Guerrero', 'Hidalgo', 'Jalisco', 'Michoacán de Ocampo', 'Morelos', 'México', 'Nayarit', 'Nuevo León', 'Oaxaca', 'Puebla', 'Querétaro', 'Quintana Roo', 'San Luis Potosí', 'Sinaloa', 'Sonora', 'Tabasco', 'Tamaulipas', 'Tlaxcala', 'Veracruz de Ignacio de la Llave', 'Yucatán', 'Zacatecas', 'NaN']
-------------------------------------------DataFrame 2014-------------------------------------------
['Aguascalientes', 'Baja California', 'Baja California Sur', 'Campeche', 'Chiapas', 'Chihuahua', 'Coahuila de Zaragoza', 'Colima', 'Distrito Federal', 'Durango', 'Guanajuato', 'Guerrero', 'Hidalgo', 'Jalisco', 'Michoacán de Ocampo', 'Morelos', 'México', 'Nayarit', 'Nuevo León', 'Oaxaca', 'Puebla', 'Querétaro', 'Quintana Roo', 'San Luis Potosí', 'Sinaloa', 'Sonora', 'Tabasco', 'Tamaulipas', 'Tlaxcala', 'Veracruz de Ignacio de la Llave', 'Yucatán', 'Zacatecas', 'NaN']
-------------------------------------------DataFrame 2015-------------------------------------------
['Aguascalientes', 'Baja California', 'Baja California Sur', 'Campeche', 'Chiapas', 'Chihuahua', 'Coahuila de Zaragoza', 'Colima', 'Distrito Federal', 'Durango', 'Guanajuato', 'Guerrero', 'Hidalgo', 'Jalisco', 'Michoacán de Ocampo', 'Morelos', 'México', 'Nayarit', 'Nuevo León', 'Oaxaca', 'Puebla', 'Querétaro', 'Quintana Roo', 'San Luis Potosí', 'Sinaloa', 'Sonora', 'Tabasco', 'Tamaulipas', 'Tlaxcala', 'Veracruz de Ignacio de la Llave', 'Yucatán', 'Zacatecas', 'NaN']
-------------------------------------------DataFrame 2016-------------------------------------------
['Aguascalientes', 'Baja California', 'Baja California Sur', 'Campeche', 'Chiapas', 'Chihuahua', 'Coahuila de Zaragoza', 'Colima', 'Distrito Federal', 'Durango', 'Guanajuato', 'Guerrero', 'Hidalgo', 'Jalisco', 'Michoacán de Ocampo', 'Morelos', 'México', 'Nayarit', 'Nuevo León', 'Oaxaca', 'Puebla', 'Querétaro', 'Quintana Roo', 'San Luis Potosí', 'Sinaloa', 'Sonora', 'Tabasco', 'Tamaulipas', 'Tlaxcala', 'Veracruz de Ignacio de la Llave', 'Yucatán', 'Zacatecas', 'NaN']
-------------------------------------------DataFrame 2017-------------------------------------------
['Aguascalientes', 'Baja California', 'Baja California Sur', 'Campeche', 'Chiapas', 'Chihuahua', 'Coahuila de Zaragoza', 'Colima', 'Distrito Federal', 'Durango', 'Guanajuato', 'Guerrero', 'Hidalgo', 'Jalisco', 'Michoacán de Ocampo', 'Morelos', 'México', 'Nayarit', 'Nuevo León', 'Oaxaca', 'Puebla', 'Querétaro', 'Quintana Roo', 'San Luis Potosí', 'Sinaloa', 'Sonora', 'Tabasco', 'Tamaulipas', 'Tlaxcala', 'Veracruz de Ignacio de la Llave', 'Yucatán', 'Zacatecas', 'NaN']
-------------------------------------------DataFrame 2018-------------------------------------------
['Aguascalientes', 'Baja California', 'Baja California Sur', 'Campeche', 'Chiapas', 'Chihuahua', 'Coahuila de Zaragoza', 'Colima', 'Distrito Federal', 'Durango', 'Guanajuato', 'Guerrero', 'Hidalgo', 'Jalisco', 'Michoacán de Ocampo', 'Morelos', 'México', 'Nayarit', 'Nuevo León', 'Oaxaca', 'Puebla', 'Querétaro', 'Quintana Roo', 'San Luis Potosí', 'Sinaloa', 'Sonora', 'Tabasco', 'Tamaulipas', 'Tlaxcala', 'Veracruz de Ignacio de la Llave', 'Yucatán', 'Zacatecas', 'NaN']
-------------------------------------------DataFrame 2019-------------------------------------------
['Aguascalientes', 'Baja California', 'Baja California Sur', 'Campeche', 'Chiapas', 'Chihuahua', 'Coahuila de Zaragoza', 'Colima', 'Distrito Federal', 'Durango', 'Guanajuato', 'Guerrero', 'Hidalgo', 'Jalisco', 'Michoacán de Ocampo', 'Morelos', 'México', 'Nayarit', 'Nuevo León', 'Oaxaca', 'Puebla', 'Querétaro', 'Quintana Roo', 'San Luis Potosí', 'Sinaloa', 'Sonora', 'Tabasco', 'Tamaulipas', 'Tlaxcala', 'Veracruz de Ignacio de la Llave', 'Yucatán', 'Zacatecas', 'NaN']

### Tratamiento de valores nulos

In [283]:
# En teoria este deberia hacerse para la categoria del cancer, empelo y educacion, pero esas 3 columnas no presentaron valores nulos
spImputer = SimpleImputer(strategy='most_frequent')

spImputer.fit(df2010[['ent_resid_nm']])
df2010[['ent_resid_nm']] = spImputer.transform(df2010[['ent_resid_nm']])
spImputer.fit(df2011[['ent_resid_nm']])
df2011[['ent_resid_nm']] = spImputer.transform(df2011[['ent_resid_nm']])
spImputer.fit(df2012[['ent_resid_nm']])
df2012[['ent_resid_nm']] = spImputer.transform(df2012[['ent_resid_nm']])
spImputer.fit(df2013[['ent_resid_nm']])
df2013[['ent_resid_nm']] = spImputer.transform(df2013[['ent_resid_nm']])
spImputer.fit(df2014[['ent_resid_nm']])
df2014[['ent_resid_nm']] = spImputer.transform(df2014[['ent_resid_nm']])
spImputer.fit(df2015[['ent_resid_nm']])
df2015[['ent_resid_nm']] = spImputer.transform(df2015[['ent_resid_nm']])
spImputer.fit(df2016[['ent_resid_nm']])
df2016[['ent_resid_nm']] = spImputer.transform(df2016[['ent_resid_nm']])
spImputer.fit(df2017[['ent_resid_nm']])
df2017[['ent_resid_nm']] = spImputer.transform(df2017[['ent_resid_nm']])
spImputer.fit(df2018[['ent_resid_nm']])
df2018[['ent_resid_nm']] = spImputer.transform(df2018[['ent_resid_nm']])
spImputer.fit(df2019[['ent_resid_nm']])
df2019[['ent_resid_nm']] = spImputer.transform(df2019[['ent_resid_nm']])

### Comprobacion de la inexistencia de valores nulos

In [284]:
print("DataFrame 2010".center(100, '-'))
print(list(df2010['ent_resid_nm'].unique()))
print("DataFrame 2011".center(100, '-'))
print(list(df2011['ent_resid_nm'].unique()))
print("DataFrame 2012".center(100, '-'))
print(list(df2012['ent_resid_nm'].unique()))
print("DataFrame 2013".center(100, '-'))
print(list(df2013['ent_resid_nm'].unique()))
print("DataFrame 2014".center(100, '-'))
print(list(df2014['ent_resid_nm'].unique()))
print("DataFrame 2015".center(100, '-'))
print(list(df2015['ent_resid_nm'].unique()))
print("DataFrame 2016".center(100, '-'))
print(list(df2016['ent_resid_nm'].unique()))
print("DataFrame 2017".center(100, '-'))
print(list(df2017['ent_resid_nm'].unique()))
print("DataFrame 2018".center(100, '-'))
print(list(df2018['ent_resid_nm'].unique()))
print("DataFrame 2019".center(100, '-'))
print(list(df2019['ent_resid_nm'].unique()))

-------------------------------------------DataFrame 2010-------------------------------------------
['Aguascalientes', 'Jalisco', 'Querétaro', 'Michoacán de Ocampo', 'Zacatecas', 'Distrito Federal', 'México', 'Oaxaca', 'Guanajuato', 'Baja California', 'Sonora', 'Baja California Sur', 'Sinaloa', 'Morelos', 'Colima', 'Campeche', 'Yucatán', 'Chiapas', 'Veracruz de Ignacio de la Llave', 'Coahuila de Zaragoza', 'Tabasco', 'Quintana Roo', 'Chihuahua', 'Durango', 'Nuevo León', 'Puebla', 'San Luis Potosí', 'Guerrero', 'Tlaxcala', 'Hidalgo', 'Tamaulipas', 'Nayarit']
-------------------------------------------DataFrame 2011-------------------------------------------
['Aguascalientes', 'Jalisco', 'Zacatecas', 'Veracruz de Ignacio de la Llave', 'México', 'San Luis Potosí', 'Baja California', 'Michoacán de Ocampo', 'Sonora', 'Durango', 'Guerrero', 'Sinaloa', 'Baja California Sur', 'Distrito Federal', 'Querétaro', 'Campeche', 'Nuevo León', 'Coahuila de Zaragoza', 'Chihuahua', 'Tabasco', 'Tamaulipas', 'Colima', 'Chiapas', 'Oaxaca', 'Hidalgo', 'Puebla', 'Tlaxcala', 'Morelos', 'Guanajuato', 'Nayarit', 'Quintana Roo', 'Yucatán']
-------------------------------------------DataFrame 2012-------------------------------------------
['Aguascalientes', 'Zacatecas', 'Jalisco', 'Baja California', 'Nayarit', 'Sonora', 'Sinaloa', 'Baja California Sur', 'Tamaulipas', 'Campeche', 'Coahuila de Zaragoza', 'Quintana Roo', 'Tabasco', 'Durango', 'Nuevo León', 'Colima', 'Michoacán de Ocampo', 'Chiapas', 'Oaxaca', 'Veracruz de Ignacio de la Llave', 'Chihuahua', 'México', 'Distrito Federal', 'Morelos', 'Guerrero', 'Puebla', 'Hidalgo', 'Querétaro', 'Guanajuato', 'Tlaxcala', 'San Luis Potosí', 'Yucatán']
-------------------------------------------DataFrame 2013-------------------------------------------
['Aguascalientes', 'Jalisco', 'Baja California', 'Baja California Sur', 'Campeche', 'Quintana Roo', 'Coahuila de Zaragoza', 'Durango', 'Colima', 'Chiapas', 'Chihuahua', 'Morelos', 'México', 'Oaxaca', 'Tlaxcala', 'Distrito Federal', 'Hidalgo', 'Guerrero', 'Veracruz de Ignacio de la Llave', 'Puebla', 'Querétaro', 'Zacatecas', 'Guanajuato', 'Nayarit', 'Michoacán de Ocampo', 'Sinaloa', 'Nuevo León', 'Tamaulipas', 'Yucatán', 'San Luis Potosí', 'Sonora', 'Tabasco']
-------------------------------------------DataFrame 2014-------------------------------------------
['Aguascalientes', 'Baja California', 'Michoacán de Ocampo', 'Campeche', 'Quintana Roo', 'Coahuila de Zaragoza', 'Zacatecas', 'Colima', 'Chiapas', 'Chihuahua', 'México', 'Guerrero', 'Distrito Federal', 'Puebla', 'Veracruz de Ignacio de la Llave', 'Hidalgo', 'Guanajuato', 'Durango', 'Jalisco', 'Sinaloa', 'Nayarit', 'Tamaulipas', 'Nuevo León', 'Oaxaca', 'Querétaro', 'San Luis Potosí', 'Sonora', 'Tabasco', 'Tlaxcala', 'Yucatán', 'Morelos', 'Baja California Sur']
-------------------------------------------DataFrame 2015-------------------------------------------
['Aguascalientes', 'Jalisco', 'Coahuila de Zaragoza', 'Zacatecas', 'Baja California', 'Sonora', 'Querétaro', 'Baja California Sur', 'Campeche', 'Quintana Roo', 'Oaxaca', 'Durango', 'Chihuahua', 'Nuevo León', 'Colima', 'Chiapas', 'San Luis Potosí', 'Distrito Federal', 'Hidalgo', 'México', 'Sinaloa', 'Michoacán de Ocampo', 'Tamaulipas', 'Guanajuato', 'Veracruz de Ignacio de la Llave', 'Puebla', 'Guerrero', 'Morelos', 'Tabasco', 'Nayarit', 'Tlaxcala', 'Yucatán']
-------------------------------------------DataFrame 2016-------------------------------------------
['Aguascalientes', 'Sonora', 'Baja California', 'Coahuila de Zaragoza', 'México', 'Baja California Sur', 'Campeche', 'Durango', 'Nuevo León', 'Tamaulipas', 'Chihuahua', 'Colima', 'Jalisco', 'Michoacán de Ocampo', 'Chiapas', 'Querétaro', 'Distrito Federal', 'Guanajuato', 'Hidalgo', 'Veracruz de Ignacio de la Llave', 'Oaxaca', 'Tabasco', 'Quintana Roo', 'Guerrero', 'Puebla', 'Morelos', 'Tlaxcala', 'San Luis Potosí', 'Nayarit', 'Zacatecas', 'Sinaloa', 'Yucatán']
-------------------------------------------DataFrame 2017-------------------------------------------
['Aguascalientes', 'Baja California', 'México', 'Campeche', 'Durango', 'Coahuila de Zaragoza', 'Colima', 'Chiapas', 'Chihuahua', 'Tabasco', 'Distrito Federal', 'Querétaro', 'Sinaloa', 'Morelos', 'Guerrero', 'Nuevo León', 'Tamaulipas', 'Michoacán de Ocampo', 'Guanajuato', 'Hidalgo', 'Jalisco', 'Nayarit', 'Sonora', 'Oaxaca', 'Puebla', 'Veracruz de Ignacio de la Llave', 'Quintana Roo', 'San Luis Potosí', 'Tlaxcala', 'Yucatán', 'Zacatecas', 'Baja California Sur']
-------------------------------------------DataFrame 2018-------------------------------------------
['Aguascalientes', 'Baja California', 'Baja California Sur', 'Campeche', 'Coahuila de Zaragoza', 'Colima', 'Chiapas', 'Chihuahua', 'Durango', 'Distrito Federal', 'México', 'Guanajuato', 'Guerrero', 'Hidalgo', 'Jalisco', 'Sinaloa', 'Michoacán de Ocampo', 'Morelos', 'Nayarit', 'Nuevo León', 'Oaxaca', 'Puebla', 'Querétaro', 'Quintana Roo', 'San Luis Potosí', 'Sonora', 'Tabasco', 'Veracruz de Ignacio de la Llave', 'Tamaulipas', 'Tlaxcala', 'Yucatán', 'Zacatecas']
-------------------------------------------DataFrame 2019-------------------------------------------
['Aguascalientes', 'Guanajuato', 'Zacatecas', 'Baja California', 'Sonora', 'Chiapas', 'Chihuahua', 'Nayarit', 'Guerrero', 'Baja California Sur', 'Campeche', 'Quintana Roo', 'Yucatán', 'Veracruz de Ignacio de la Llave', 'Coahuila de Zaragoza', 'Durango', 'Nuevo León', 'México', 'Colima', 'Michoacán de Ocampo', 'Jalisco', 'Sinaloa', 'Distrito Federal', 'Hidalgo', 'Oaxaca', 'Tlaxcala', 'Querétaro', 'Morelos', 'Tabasco', 'Puebla', 'San Luis Potosí', 'Tamaulipas']

## Limpieza por Empleo ---------------------------------------------------------------------------------------------------

### Detectar Basura

In [285]:
dfRuido2010 = df2010[df2010['desc_ocupacion'].isnull()]
dfRuido2011 = df2011[df2011['desc_ocupacion'].isnull()]
dfRuido2012 = df2012[df2012['desc_ocupacion'].isnull()]
dfRuido2013 = df2013[df2013['desc_ocupacion'].isnull()]
dfRuido2014 = df2014[df2014['desc_ocupacion'].isnull()]
dfRuido2015 = df2015[df2015['desc_ocupacion'].isnull()]
dfRuido2016 = df2016[df2016['desc_ocupacion'].isnull()]
dfRuido2017 = df2017[df2017['desc_ocupacion'].isnull()]
dfRuido2018 = df2018[df2018['desc_ocupacion'].isnull()]
dfRuido2019 = df2019[df2019['desc_ocupacion'].isnull()]

print(dfRuido2010['ocupacion'].unique())
print(dfRuido2011['ocupacion'].unique())
print(dfRuido2012['ocupacion'].unique())
print(dfRuido2013['ocupacion'].unique())
print(dfRuido2014['ocupacion'].unique())
print(dfRuido2015['ocupacion'].unique())
print(dfRuido2016['ocupacion'].unique())
print(dfRuido2017['ocupacion'].unique())
print(dfRuido2018['ocupacion'].unique())
print(dfRuido2019['ocupacion'].unique())
# Entonces solo hubo ruido en los años 2010 a 2012

[9 6 4 7]
[4 6 9 7 8 1]
[ 8  1  6  4  9  7  5  3 10]
[]
[]
[]
[]
[]
[]
[]

### Contar la cantidad de basura

In [286]:
listaRuido2010 = list(dfRuido2010['ocupacion'].unique())
listaRuido2011 = list(dfRuido2011['ocupacion'].unique())
listaRuido2012 = list(dfRuido2012['ocupacion'].unique())

condicion2010 = df2010['ocupacion'].isin(listaRuido2010)
condicion2011 = df2011['ocupacion'].isin(listaRuido2011)
condicion2012 = df2012['ocupacion'].isin(listaRuido2012)

newDf2010 = df2010.loc[condicion2010]
newDf2011 = df2011.loc[condicion2011]
newDf2012 = df2012.loc[condicion2012]

print('Cantidad de basura en el dataframe 2010: ', newDf2010.shape[0])
print('Cantidad de basura en el dataframe 2011: ', newDf2011.shape[0])
print('Cantidad de basura en el dataframe 2012: ', newDf2012.shape[0])

Cantidad de basura en el dataframe 2010:  14
Cantidad de basura en el dataframe 2011:  31
Cantidad de basura en el dataframe 2012:  480

### Reemplazar Basura por la moda

In [287]:
# Determinar cual fue el valor mas comun en los años 2010 a 2012 en la columna ocupacion
moda2010 = df2010['ocupacion'].mode()[0]
moda2011 = df2011['ocupacion'].mode()[0]
moda2012 = df2012['ocupacion'].mode()[0]

print("DataFrame 2010. La moda en la columna 'ocupacion' es:", moda2010)
print("DataFrame 2011. La moda en la columna 'ocupacion' es:", moda2011)
print("DataFrame 2012. La moda en la columna 'ocupacion' es:", moda2012)
# Para los 3 años fue el valor: 2

# Buscar los registros que tienen los datos basura y reemplazarlos por el valor de la moda de cada
# fragmento
condicion2010 = df2010['ocupacion'].isin(listaRuido2010)
condicion2011 = df2011['ocupacion'].isin(listaRuido2011)
condicion2012 = df2012['ocupacion'].isin(listaRuido2012)

df2010.loc[condicion2010, 'ocupacion'] = 2
df2011.loc[condicion2011, 'ocupacion'] = 2
df2012.loc[condicion2012, 'ocupacion'] = 2

DataFrame 2010. La moda en la columna 'ocupacion' es: 2
DataFrame 2011. La moda en la columna 'ocupacion' es: 2
DataFrame 2012. La moda en la columna 'ocupacion' es: 2

### Comprobacion de que se elmino la basura

In [288]:

dfRuido2010 = df2010[df2010['desc_ocupacion'].isnull()]
dfRuido2011 = df2011[df2011['desc_ocupacion'].isnull()]
dfRuido2012 = df2012[df2012['desc_ocupacion'].isnull()]

print("DataFrame 2010".center(100, '-'))
print(dfRuido2010[['ocupacion', 'desc_ocupacion']])
print("DataFrame 2011".center(100, '-'))
print(dfRuido2011[['ocupacion', 'desc_ocupacion']])
print("DataFrame 2012".center(100, '-'))
print(dfRuido2012[['ocupacion', 'desc_ocupacion']])

-------------------------------------------DataFrame 2010-------------------------------------------
       ocupacion desc_ocupacion
70167          2            NaN
70169          2            NaN
70173          2            NaN
70176          2            NaN
70187          2            NaN
70189          2            NaN
70190          2            NaN
70194          2            NaN
70206          2            NaN
70209          2            NaN
70213          2            NaN
70229          2            NaN
70230          2            NaN
70240          2            NaN
-------------------------------------------DataFrame 2011-------------------------------------------
       ocupacion desc_ocupacion
71113          2            NaN
71126          2            NaN
71127          2            NaN
71129          2            NaN
71130          2            NaN
71131          2            NaN
71136          2            NaN
71139          2            NaN
71141          2            NaN
71146          2            NaN
71147          2            NaN
71159          2            NaN
71165          2            NaN
71166          2            NaN
71169          2            NaN
71170          2            NaN
71171          2            NaN
71172          2            NaN
71175          2            NaN
71177          2            NaN
71180          2            NaN
71190          2            NaN
71194          2            NaN
71198          2            NaN
71199          2            NaN
71202          2            NaN
71208          2            NaN
71209          2            NaN
71216          2            NaN
71220          2            NaN
71224          2            NaN
-------------------------------------------DataFrame 2012-------------------------------------------
       ocupacion desc_ocupacion
18606          2            NaN
18608          2            NaN
18609          2            NaN
18610          2            NaN
18611          2            NaN
...          ...            ...
72355          2            NaN
72366          2            NaN
72387          2            NaN
72388          2            NaN
73061          2            NaN

[480 rows x 2 columns]

### Mapear

In [289]:

def mapearEmpleo(df20xx, nombreDf):
    df20xx = df20xx.drop(['desc_ocupacion'], axis=1) # Eliminar la descripcion de ocupacion de los dataset
    df20xx['NuevaColEmpleo'] = 0 # Agregar una nueva columna y llenarla de puros 0, en esta columna se vaceara el mapeo

    # Buscar cuales valores se deben mapear (actualizar)
    condicion1 = (df20xx['ocupacion'] == 21)
    condicion2 = (df20xx['ocupacion'] == 11) | (df20xx['ocupacion'] == 12) | (df20xx['ocupacion'] == 13)
    condicion3 = (df20xx['ocupacion'] == 61) | (df20xx['ocupacion'] == 62)
    condicion4 = (df20xx['ocupacion'] == 71)
    condicion5 = (df20xx['ocupacion'] == 81) | (df20xx['ocupacion'] == 83)
    condicion6 = (df20xx['ocupacion'] == 41)
    condicion7 = (df20xx['ocupacion'] == 54)
    condicion8 = (df20xx['ocupacion'] == 51) | (df20xx['ocupacion'] == 52) | (df20xx['ocupacion'] == 53) | (df20xx['ocupacion'] == 55)
    condicion9 = (df20xx['ocupacion'] == 82)
    condicion11 = (df20xx['ocupacion'] == 2) | (df20xx['ocupacion'] == 72)
    condicion98 = (df20xx['ocupacion'] == 14)

    # Actualizar los valores
    df20xx.loc[condicion1, 'NuevaColEmpleo'] = 1
    df20xx.loc[condicion2, 'NuevaColEmpleo'] = 2
    df20xx.loc[condicion3, 'NuevaColEmpleo'] = 3
    df20xx.loc[condicion4, 'NuevaColEmpleo'] = 4
    df20xx.loc[condicion5, 'NuevaColEmpleo'] = 5
    df20xx.loc[condicion6, 'NuevaColEmpleo'] = 6
    df20xx.loc[condicion7, 'NuevaColEmpleo'] = 7
    df20xx.loc[condicion8, 'NuevaColEmpleo'] = 8
    df20xx.loc[condicion9, 'NuevaColEmpleo'] = 9
    df20xx.loc[condicion11, 'NuevaColEmpleo'] = 11
    df20xx.loc[condicion98, 'NuevaColEmpleo'] = 98

    # Pasar estas llaves tal cual estan (no sufren mapeo porque estos si coinciden)
    condicion97 = (df20xx['ocupacion'] == 97)
    condicion98 = (df20xx['ocupacion'] == 98)
    condicion99 = (df20xx['ocupacion'] == 99)

    df20xx.loc[condicion97, 'NuevaColEmpleo'] = 97
    df20xx.loc[condicion98, 'NuevaColEmpleo'] = 98
    df20xx.loc[condicion99, 'NuevaColEmpleo'] = 99

    # Imprimir resultados y validacion
    condicion0 = (df20xx['NuevaColEmpleo'] == 0)
    newDf = df20xx.loc[condicion0]
    print(f'En el dataframe {nombreDf} la cantidad de registros con el valor 0 en la columna NuevaColEmpleo es: {newDf.shape[0]}')

    return df20xx

df2010 = mapearEmpleo(df2010, '2010')
df2011 = mapearEmpleo(df2011, '2011')
df2012 = mapearEmpleo(df2012, '2012')

En el dataframe 2010 la cantidad de registros con el valor 0 en la columna NuevaColEmpleo es: 0
En el dataframe 2011 la cantidad de registros con el valor 0 en la columna NuevaColEmpleo es: 0
En el dataframe 2012 la cantidad de registros con el valor 0 en la columna NuevaColEmpleo es: 0

### Realizar la integracion con el 'nuevo catalogo' de empleo

In [290]:
# Realizar nuevamente la integracion de las bases de datos 2010, 2011 y 2012 con los catalogos de empleo de los
# años 2013 a 2019
df2010 = pd.merge(df2010, dfEmpleo, how='inner', left_on='NuevaColEmpleo', right_on='CVE')
df2011 = pd.merge(df2011, dfEmpleo, how='inner', left_on='NuevaColEmpleo', right_on='CVE')
df2012 = pd.merge(df2012, dfEmpleo, how='inner', left_on='NuevaColEmpleo', right_on='CVE')

df2010 = df2010.rename(columns={"DESCRIP": "desc_ocupacion"})
df2011 = df2010.rename(columns={"DESCRIP": "desc_ocupacion"})
df2012 = df2010.rename(columns={"DESCRIP": "desc_ocupacion"})

## Limpieza por Educacion ---------------------------------------------------------------------------------------------------

### Detectar basura

In [291]:
dfRuido2010 = df2010[df2010['desc_escolaridad'].isnull()]
dfRuido2011 = df2011[df2011['desc_escolaridad'].isnull()]
dfRuido2012 = df2012[df2012['desc_escolaridad'].isnull()]
dfRuido2013 = df2013[df2013['desc_escolaridad'].isnull()]
dfRuido2014 = df2014[df2014['desc_escolaridad'].isnull()]
dfRuido2015 = df2015[df2015['desc_escolaridad'].isnull()]
dfRuido2016 = df2016[df2016['desc_escolaridad'].isnull()]
dfRuido2017 = df2017[df2017['desc_escolaridad'].isnull()]
dfRuido2018 = df2018[df2018['desc_escolaridad'].isnull()]
dfRuido2019 = df2019[df2019['desc_escolaridad'].isnull()]

print(dfRuido2010['escolarida'].unique())
print(dfRuido2011['escolarida'].unique())
print(dfRuido2012['escolarida'].unique())
print(dfRuido2013['escolarida'].unique())
print(dfRuido2014['escolarida'].unique())
print(dfRuido2015['escolarida'].unique())
print(dfRuido2016['escolarida'].unique())
print(dfRuido2017['escolarida'].unique())
print(dfRuido2018['escolarida'].unique())
print(dfRuido2019['escolarida'].unique())
# Entonces solo hubo ruido en los años 2010 y 2011

[99 88 10]
[99 88 10]
[99 88 10]
[]
[]
[]
[]
[]
[]
[]

### Contar la cantidad de basura

In [292]:
listaRuido2010 = list(dfRuido2010['escolarida'].unique())
listaRuido2011 = list(dfRuido2011['escolarida'].unique())

condicion2010 = df2010['escolarida'].isin(listaRuido2010)
condicion2011 = df2011['escolarida'].isin(listaRuido2011)

newDf2010 = df2010.loc[condicion2010]
newDf2011 = df2011.loc[condicion2011]

print('Cantidad de basura en el dataframe 2010: ', newDf2010.shape[0])
print('Cantidad de basura en el dataframe 2011: ', newDf2011.shape[0])

Cantidad de basura en el dataframe 2010:  42
Cantidad de basura en el dataframe 2011:  42

### Reemplazar basura por la moda

In [293]:
# Determinar cual fue el valor mas comun en los años 2010 y 2011 en la columna escolarida
moda2010 = df2010['escolarida'].mode()[0]
moda2011 = df2011['escolarida'].mode()[0]

print("DataFrame 2010. La moda en la columna 'escolarida' es:", moda2010)
print("DataFrame 2011. La moda en la columna 'escolarida' es:", moda2011)
# Para los 2 años fue el valor: 2

# Buscar los registros que tienen los datos basura y reemplazarlos por el valor de la moda de cada
# fragmento
condicion2010 = df2010['escolarida'].isin(listaRuido2010)
condicion2011 = df2011['escolarida'].isin(listaRuido2011)

df2010.loc[condicion2010, 'escolarida'] = 2
df2011.loc[condicion2011, 'escolarida'] = 2

DataFrame 2010. La moda en la columna 'escolarida' es: 2
DataFrame 2011. La moda en la columna 'escolarida' es: 2

### Comprobacion de que se elmino la basura

In [294]:
dfRuido2010 = df2010[df2010['desc_escolaridad'].isnull()]
dfRuido2011 = df2011[df2011['desc_escolaridad'].isnull()]

print("DataFrame 2010".center(100, '-'))
print(dfRuido2010[['escolarida', 'desc_escolaridad']])
print("DataFrame 2011".center(100, '-'))
print(dfRuido2011[['escolarida', 'desc_escolaridad']])

-------------------------------------------DataFrame 2010-------------------------------------------
       escolarida desc_escolaridad
50023           2              NaN
50026           2              NaN
50030           2              NaN
50031           2              NaN
50043           2              NaN
59276           2              NaN
59278           2              NaN
62537           2              NaN
62552           2              NaN
68068           2              NaN
68342           2              NaN
68344           2              NaN
69873           2              NaN
69877           2              NaN
69878           2              NaN
69880           2              NaN
69881           2              NaN
69882           2              NaN
69883           2              NaN
69886           2              NaN
69887           2              NaN
69888           2              NaN
69889           2              NaN
69890           2              NaN
69891           2              NaN
69892           2              NaN
69893           2              NaN
69894           2              NaN
69896           2              NaN
69897           2              NaN
69899           2              NaN
69900           2              NaN
69901           2              NaN
69903           2              NaN
69904           2              NaN
69905           2              NaN
69907           2              NaN
69908           2              NaN
69909           2              NaN
69911           2              NaN
69912           2              NaN
69913           2              NaN
-------------------------------------------DataFrame 2011-------------------------------------------
       escolarida desc_escolaridad
50023           2              NaN
50026           2              NaN
50030           2              NaN
50031           2              NaN
50043           2              NaN
59276           2              NaN
59278           2              NaN
62537           2              NaN
62552           2              NaN
68068           2              NaN
68342           2              NaN
68344           2              NaN
69873           2              NaN
69877           2              NaN
69878           2              NaN
69880           2              NaN
69881           2              NaN
69882           2              NaN
69883           2              NaN
69886           2              NaN
69887           2              NaN
69888           2              NaN
69889           2              NaN
69890           2              NaN
69891           2              NaN
69892           2              NaN
69893           2              NaN
69894           2              NaN
69896           2              NaN
69897           2              NaN
69899           2              NaN
69900           2              NaN
69901           2              NaN
69903           2              NaN
69904           2              NaN
69905           2              NaN
69907           2              NaN
69908           2              NaN
69909           2              NaN
69911           2              NaN
69912           2              NaN
69913           2              NaN

### Mapear

In [295]:
def mapearEducacion(df20xx, nombreDf):
    df20xx = df20xx.drop(['desc_escolaridad'], axis=1) # Eliminar la descripcion de escolarida de los dataset
    df20xx['NuevaColEducacion'] = 0 # Agregar una nueva columna y llenarla de puros 0, en esta columna se vaceara el mapeo

    # Buscar cuales valores se deben mapear (actualizar)
    condicion3 = (df20xx['escolarida'] == 2)
    condicion4 = (df20xx['escolarida'] == 3)
    condicion5 = (df20xx['escolarida'] == 4)
    condicion6 = (df20xx['escolarida'] == 5)
    condicion9 = (df20xx['escolarida'] == 7)
    condicion88 = (df20xx['escolarida'] == 8)
    condicion99 = (df20xx['escolarida'] == 9)

    # Actualizar los valores
    df20xx.loc[condicion3, 'NuevaColEducacion'] = 3
    df20xx.loc[condicion4, 'NuevaColEducacion'] = 4
    df20xx.loc[condicion5, 'NuevaColEducacion'] = 5
    df20xx.loc[condicion6, 'NuevaColEducacion'] = 6
    df20xx.loc[condicion9, 'NuevaColEducacion'] = 9
    df20xx.loc[condicion88, 'NuevaColEducacion'] = 88
    df20xx.loc[condicion99, 'NuevaColEducacion'] = 99

    # Pasar estas llaves tal cual estan (no sufren mapeo porque estos si coinciden)
    condicion1 = (df20xx['escolarida'] == 1)

    df20xx.loc[condicion1, 'NuevaColEducacion'] = 1

    # Imprimir resultados y validacion
    condicion0 = (df20xx['NuevaColEducacion'] == 0)
    newDf = df20xx.loc[condicion0]
    print(f'En el dataframe {nombreDf} la cantidad de registros con el valor 0 en la columna NuevaColEducacion es: {newDf.shape[0]}')

    return df20xx

df2010 = mapearEducacion(df2010, '2010')
df2011 = mapearEducacion(df2011, '2011')

En el dataframe 2010 la cantidad de registros con el valor 0 en la columna NuevaColEducacion es: 5205
En el dataframe 2011 la cantidad de registros con el valor 0 en la columna NuevaColEducacion es: 5205

### Realizar la integracion con el 'nuevo catalogo' de educacion

In [296]:
# Realizar nuevamente la integracion de las bases de datos 2010 y 2011 con los catalogos de educacion de los
# años 2012 a 2019
df2010 = pd.merge(df2010, dfEmpleo, how='inner', left_on='NuevaColEducacion', right_on='CVE')
df2011 = pd.merge(df2011, dfEmpleo, how='inner', left_on='NuevaColEducacion', right_on='CVE')

df2010 = df2010.rename(columns={"DESCRIP": "desc_escolaridad"})
df2011 = df2010.rename(columns={"DESCRIP": "desc_escolaridad"})

## Conclusión de la Limpieza ---------------------------------------------------------------------------------------------------

### Selección de las columnas

In [297]:
df2010 = df2010[['ent_resid_nm', 'detailCaus', 'desc_ocupacion', 'desc_escolaridad']]
df2011 = df2011[['ent_resid_nm', 'detailCaus', 'desc_ocupacion', 'desc_escolaridad']]
df2012 = df2012[['ent_resid_nm', 'detailCaus', 'desc_ocupacion', 'desc_escolaridad']]
df2013 = df2013[['ent_resid_nm', 'detailCaus', 'desc_ocupacion', 'desc_escolaridad']]
df2014 = df2014[['ent_resid_nm', 'detailCaus', 'desc_ocupacion', 'desc_escolaridad']]
df2015 = df2015[['ent_resid_nm', 'detailCaus', 'desc_ocupacion', 'desc_escolaridad']]
df2016 = df2016[['ent_resid_nm', 'detailCaus', 'desc_ocupacion', 'desc_escolaridad']]
df2017 = df2017[['ent_resid_nm', 'detailCaus', 'desc_ocupacion', 'desc_escolaridad']]
df2018 = df2018[['ent_resid_nm', 'detailCaus', 'desc_ocupacion', 'desc_escolaridad']]
df2019 = df2019[['ent_resid_nm', 'detailCaus', 'desc_ocupacion', 'desc_escolaridad']]

### Almacenar nueva base de datos

In [298]:
nuevaMortalidadLimpia = '/content/drive/MyDrive/Pt2/Primeras Actividades/0 Bases de Datos/Nueva Mortalidad Limpia/'

df2010.to_csv(nuevaMortalidadLimpia + '2010.csv')
df2011.to_csv(nuevaMortalidadLimpia + '2011.csv')
df2012.to_csv(nuevaMortalidadLimpia + '2012.csv')
df2013.to_csv(nuevaMortalidadLimpia + '2013.csv')
df2014.to_csv(nuevaMortalidadLimpia + '2014.csv')
df2015.to_csv(nuevaMortalidadLimpia + '2015.csv')
df2016.to_csv(nuevaMortalidadLimpia + '2016.csv')
df2017.to_csv(nuevaMortalidadLimpia + '2017.csv')
df2018.to_csv(nuevaMortalidadLimpia + '2018.csv')
df2019.to_csv(nuevaMortalidadLimpia + '2019.csv')