<a href="https://colab.research.google.com/github/aledelorbe/pt2Codigos/blob/main/SegundasActividades/Algoritmos_v2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Cargar librerias

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import OrdinalEncoder
import numpy as np
from sklearn.cluster import KMeans

### Cargar los dataFrame

In [2]:
nuevaMortalidadLimpia = '/content/drive/MyDrive/Pt2/Primeras Actividades/0 Bases de Datos/Nueva Mortalidad Limpia/'

df2010 = pd.read_csv(nuevaMortalidadLimpia + '2010.csv')
df2011 = pd.read_csv(nuevaMortalidadLimpia + '2011.csv')
df2012 = pd.read_csv(nuevaMortalidadLimpia + '2012.csv')
df2013 = pd.read_csv(nuevaMortalidadLimpia + '2013.csv')
df2014 = pd.read_csv(nuevaMortalidadLimpia + '2014.csv')
df2015 = pd.read_csv(nuevaMortalidadLimpia + '2015.csv')
df2016 = pd.read_csv(nuevaMortalidadLimpia + '2016.csv')
df2017 = pd.read_csv(nuevaMortalidadLimpia + '2017.csv')
df2018 = pd.read_csv(nuevaMortalidadLimpia + '2018.csv')
df2019 = pd.read_csv(nuevaMortalidadLimpia + '2019.csv')

### Unir todos los fragmentos

In [3]:
dfDefinitivo = pd.concat([df2010, df2011, df2012, df2013, df2014, df2015, df2016, df2017, df2018, df2019], ignore_index=True)

### Almacenamiento de valores distintos en cada columna

In [4]:
# Definicion de la funcion que imprimira los valores distintos de determinada columna en orden alfabetico
def imprimirValoresDistintos(df20xx, nombreColumna):
  titulo = f"Columna {nombreColumna}".center(100, '-')
  valoresDistintos = list(df2010[nombreColumna].unique())
  valoresDistintos.sort()
  print(titulo)
  print(valoresDistintos)
  print(f'Cantidad de elementos: {len(valoresDistintos)}')

  return valoresDistintos

estados = imprimirValoresDistintos(dfDefinitivo, 'ent_resid_nm')
canceres = imprimirValoresDistintos(dfDefinitivo, 'Organ')
trabajos = imprimirValoresDistintos(dfDefinitivo, 'desc_ocupacion')

----------------------------------------Columna ent_resid_nm----------------------------------------
['Aguascalientes', 'Baja California', 'Baja California Sur', 'Campeche', 'Chiapas', 'Chihuahua', 'Coahuila de Zaragoza', 'Colima', 'Distrito Federal', 'Durango', 'Guanajuato', 'Guerrero', 'Hidalgo', 'Jalisco', 'Michoacán de Ocampo', 'Morelos', 'México', 'Nayarit', 'Nuevo León', 'Oaxaca', 'Puebla', 'Querétaro', 'Quintana Roo', 'San Luis Potosí', 'Sinaloa', 'Sonora', 'Tabasco', 'Tamaulipas', 'Tlaxcala', 'Veracruz de Ignacio de la Llave', 'Yucatán', 'Zacatecas']
Cantidad de elementos: 32
-------------------------------------------Columna Organ--------------------------------------------
['Bladder', 'Bone', 'Brain', 'Breast', 'Cervix Uteri', 'Colon and Rectum', 'Esophagus', 'Eyes', 'Female Genitals', 'Gallbladder', 'Heart', "Hodgkin's Lymphoma", 'Kidney', 'Larynx', 'Leukemia', 'Liver ', 'Lungs', 'Lymphoma', 'Male Genitales', 'Melanoma', 'Mesothelioma', 'Mylenoma', 'Nervous', 'Oral Cavity and Pharynx', 'Outter Respiratory', 'Ovary', 'Pancreas', 'Prostate', 'Skin non Melanoma ', 'Soft Tissue', 'Stomach', 'Testis', 'Thyroid', 'Trachea', 'Ureter', 'Urinary Tract Other']
Cantidad de elementos: 36
---------------------------------------Columna desc_ocupacion---------------------------------------
['Comerciantes, empleados en ventas y agentes de ventas', 'Funcionarios, directores y jefes', 'Insuficientemente especificada', 'No aplica a menores de 5 años', 'No especificada', 'No trabaja', 'Operadores de maquinaria industrial, ensambladores, choferes y conductores de transporte', 'Profesionistas y técnicos', 'Trabajadores artesanales', 'Trabajadores auxiliares en actividades administrativas', 'Trabajadores en actividades agrícolas, ganaderas, forestales, caza y pesca', 'Trabajadores en actividades elementales y de apoyo', 'Trabajadores en servicios personales y vigilancia']
Cantidad de elementos: 13

In [5]:
# Para este caso se hace distinto ya que se desea crear una jerarquia (de menor a mayor jerarquia)
nivelesEscolares = [
    'No especificada ',
    'No aplica a menores de 3 años',
    'Sin escolaridad',
    'Preescolar',
    'Primaria completa',
    'Secundaria incompleta',
    'Secundaria completa',
    'Bachillerato o preparatoria',
    'Profesional',
    'Posgrado',
]
titulo = f"Columna desc_escolaridad".center(100, '-')
print(titulo)
print(nivelesEscolares)
print(f'Cantidad de elementos: {len(nivelesEscolares)}')

--------------------------------------Columna desc_escolaridad--------------------------------------
['No especificada ', 'No aplica a menores de 3 años', 'Sin escolaridad', 'Preescolar', 'Primaria completa', 'Secundaria incompleta', 'Secundaria completa', 'Bachillerato o preparatoria', 'Profesional', 'Posgrado']
Cantidad de elementos: 10

### Transformaciones

In [6]:
# Definicion de la funcion que dumizara distintas variables
def duminizador(df20xx, nombreDf, nombreVariable):
  print(df20xx)

  # Dumizar variable
  dummies = pd.get_dummies(df20xx[nombreVariable], drop_first = True)
  # drop_first = True -> es para que nos agregue solo k-1 categorias distintas y no se agregue la categoria k la cual solo provoca redundancia
  df20xx = pd.concat([df20xx, dummies], axis = 1) # Añadimos las variables binarias al DataFrame

  # Solicitud de las categorias que se encuentran en la variable: 'desc_ocupacion'
  nombresCategoriasX = dummies.columns.tolist()

  # Imprimir resultado
  titulo = f"DataFrame {nombreDf}".center(100, '-')
  print(titulo)
  print(df20xx.to_string())

  return df20xx

#### Entidad Federativa

In [7]:
# Crear df con las entidades federativas
dfEstadosSinCod = pd.DataFrame({'ent_resid_nm': estados})

# Mandar a llamar a la funcion dumizadora de la variable 'trabajos'
dfEstadosCod = duminizador(dfEstadosSinCod, 'Estados codificados', 'ent_resid_nm')

                       ent_resid_nm
0                    Aguascalientes
1                   Baja California
2               Baja California Sur
3                          Campeche
4                           Chiapas
5                         Chihuahua
6              Coahuila de Zaragoza
7                            Colima
8                  Distrito Federal
9                           Durango
10                       Guanajuato
11                         Guerrero
12                          Hidalgo
13                          Jalisco
14              Michoacán de Ocampo
15                          Morelos
16                           México
17                          Nayarit
18                       Nuevo León
19                           Oaxaca
20                           Puebla
21                        Querétaro
22                     Quintana Roo
23                  San Luis Potosí
24                          Sinaloa
25                           Sonora
26                          Tabasco
27                       Tamaulipas
28                         Tlaxcala
29  Veracruz de Ignacio de la Llave
30                          Yucatán
31                        Zacatecas
-----------------------------------DataFrame Estados codificados------------------------------------
                       ent_resid_nm  Baja California  Baja California Sur  Campeche  Chiapas  Chihuahua  Coahuila de Zaragoza  Colima  Distrito Federal  Durango  Guanajuato  Guerrero  Hidalgo  Jalisco  Michoacán de Ocampo  Morelos  México  Nayarit  Nuevo León  Oaxaca  Puebla  Querétaro  Quintana Roo  San Luis Potosí  Sinaloa  Sonora  Tabasco  Tamaulipas  Tlaxcala  Veracruz de Ignacio de la Llave  Yucatán  Zacatecas
0                    Aguascalientes                0                    0         0        0          0                     0       0                 0        0           0         0        0        0                    0        0       0        0           0       0       0          0             0                0        0       0        0           0         0                                0        0          0
1                   Baja California                1                    0         0        0          0                     0       0                 0        0           0         0        0        0                    0        0       0        0           0       0       0          0             0                0        0       0        0           0         0                                0        0          0
2               Baja California Sur                0                    1         0        0          0                     0       0                 0        0           0         0        0        0                    0        0       0        0           0       0       0          0             0                0        0       0        0           0         0                                0        0          0
3                          Campeche                0                    0         1        0          0                     0       0                 0        0           0         0        0        0                    0        0       0        0           0       0       0          0             0                0        0       0        0           0         0                                0        0          0
4                           Chiapas                0                    0         0        1          0                     0       0                 0        0           0         0        0        0                    0        0       0        0           0       0       0          0             0                0        0       0        0           0         0                                0        0          0
5                         Chihuahua                0                    0         0        0          1                     0       0                 0        0           0         0        0        0                    0        0       0        0           0       0       0          0             0                0        0       0        0           0         0                                0        0          0
6              Coahuila de Zaragoza                0                    0         0        0          0                     1       0                 0        0           0         0        0        0                    0        0       0        0           0       0       0          0             0                0        0       0        0           0         0                                0        0          0
7                            Colima                0                    0         0        0          0                     0       1                 0        0           0         0        0        0                    0        0       0        0           0       0       0          0             0                0        0       0        0           0         0                                0        0          0
8                  Distrito Federal                0                    0         0        0          0                     0       0                 1        0           0         0        0        0                    0        0       0        0           0       0       0          0             0                0        0       0        0           0         0                                0        0          0
9                           Durango                0                    0         0        0          0                     0       0                 0        1           0         0        0        0                    0        0       0        0           0       0       0          0             0                0        0       0        0           0         0                                0        0          0
10                       Guanajuato                0                    0         0        0          0                     0       0                 0        0           1         0        0        0                    0        0       0        0           0       0       0          0             0                0        0       0        0           0         0                                0        0          0
11                         Guerrero                0                    0         0        0          0                     0       0                 0        0           0         1        0        0                    0        0       0        0           0       0       0          0             0                0        0       0        0           0         0                                0        0          0
12                          Hidalgo                0                    0         0        0          0                     0       0                 0        0           0         0        1        0                    0        0       0        0           0       0       0          0             0                0        0       0        0           0         0                                0        0          0
13                          Jalisco                0                    0         0        0          0                     0       0                 0        0           0         0        0        1                    0        0       0        0           0       0       0          0             0                0        0       0        0           0         0                                0        0          0
14              Michoacán de Ocampo                0                    0         0        0          0                     0       0                 0        0           0         0        0        0                    1        0       0        0           0       0       0          0             0                0        0       0        0           0         0                                0        0          0
15                          Morelos                0                    0         0        0          0                     0       0                 0        0           0         0        0        0                    0        1       0        0           0       0       0          0             0                0        0       0        0           0         0                                0        0          0
16                           México                0                    0         0        0          0                     0       0                 0        0           0         0        0        0                    0        0       1        0           0       0       0          0             0                0        0       0        0           0         0                                0        0          0
17                          Nayarit                0                    0         0        0          0                     0       0                 0        0           0         0        0        0                    0        0       0        1           0       0       0          0             0                0        0       0        0           0         0                                0        0          0
18                       Nuevo León                0                    0         0        0          0                     0       0                 0        0           0         0        0        0                    0        0       0        0           1       0       0          0             0                0        0       0        0           0         0                                0        0          0
19                           Oaxaca                0                    0         0        0          0                     0       0                 0        0           0         0        0        0                    0        0       0        0           0       1       0          0             0                0        0       0        0           0         0                                0        0          0
20                           Puebla                0                    0         0        0          0                     0       0                 0        0           0         0        0        0                    0        0       0        0           0       0       1          0             0                0        0       0        0           0         0                                0        0          0
21                        Querétaro                0                    0         0        0          0                     0       0                 0        0           0         0        0        0                    0        0       0        0           0       0       0          1             0                0        0       0        0           0         0                                0        0          0
22                     Quintana Roo                0                    0         0        0          0                     0       0                 0        0           0         0        0        0                    0        0       0        0           0       0       0          0             1                0        0       0        0           0         0                                0        0          0
23                  San Luis Potosí                0                    0         0        0          0                     0       0                 0        0           0         0        0        0                    0        0       0        0           0       0       0          0             0                1        0       0        0           0         0                                0        0          0
24                          Sinaloa                0                    0         0        0          0                     0       0                 0        0           0         0        0        0                    0        0       0        0           0       0       0          0             0                0        1       0        0           0         0                                0        0          0
25                           Sonora                0                    0         0        0          0                     0       0                 0        0           0         0        0        0                    0        0       0        0           0       0       0          0             0                0        0       1        0           0         0                                0        0          0
26                          Tabasco                0                    0         0        0          0                     0       0                 0        0           0         0        0        0                    0        0       0        0           0       0       0          0             0                0        0       0        1           0         0                                0        0          0
27                       Tamaulipas                0                    0         0        0          0                     0       0                 0        0           0         0        0        0                    0        0       0        0           0       0       0          0             0                0        0       0        0           1         0                                0        0          0
28                         Tlaxcala                0                    0         0        0          0                     0       0                 0        0           0         0        0        0                    0        0       0        0           0       0       0          0             0                0        0       0        0           0         1                                0        0          0
29  Veracruz de Ignacio de la Llave                0                    0         0        0          0                     0       0                 0        0           0         0        0        0                    0        0       0        0           0       0       0          0             0                0        0       0        0           0         0                                1        0          0
30                          Yucatán                0                    0         0        0          0                     0       0                 0        0           0         0        0        0                    0        0       0        0           0       0       0          0             0                0        0       0        0           0         0                                0        1          0
31                        Zacatecas                0                    0         0        0          0                     0       0                 0        0           0         0        0        0                    0        0       0        0           0       0       0          0             0                0        0       0        0           0         0                                0        0          1

#### Aplicar transformaciones y armado de matrices de datos

##### Estados - Educaciones - Canceres

In [31]:
def asociador(lista, df20xx, columnaX, parametro, anio):

  # Crear el df que almacenara todos los datos de estados-educaciones-canceres
  dfEstadosDefinitivoCanceres20xx = pd.DataFrame()

  for indice, estado in enumerate(estados):
    # Almacenar el estado X
    dfEstadosParametroCanceres20xx = dfEstadosCod.iloc[indice:indice+1, 1:]

    # Crear una nueva columna por cada valor distinto (nivel educativo ó categoria de ocupacion)
    # y colocarle la frecuencia del valor distinto respectivamente
    for etiqueta in lista:
      # Determinar cuantas personas hay por cada nivel educativo y por cada estado
      condicion = (df20xx[columnaX] == etiqueta) & (df20xx['ent_resid_nm'] == estado)
      cantidad = df20xx.loc[condicion].shape[0]

      # Si la frecuancia de esa etiqueta es 0 igualemente crea la columna con ese nombre y colocale 0
      if cantidad == 0:
        dfEstadosParametroCanceres20xx[etiqueta] = 0
      else:
        dfEstadosParametroCanceres20xx[etiqueta] = cantidad

    # Crear una nueva columna por cada valor distinto (tipo de cancer)
    # y colocarle la frecuencia del valor distinto respectivamente
    for cancer in canceres:
      # Determinar cuantas personas hay por cada nivel educativo y por cada estado
      condicion = (df20xx['Organ'] == cancer) & (df20xx['ent_resid_nm'] == estado)
      cantidad = df20xx.loc[condicion].shape[0]

      # Si la frecuancia de esa etiqueta es 0 igualemente crea la columna con ese nombre y colocale 0
      if cantidad == 0:
        dfEstadosParametroCanceres20xx[cancer] = 0
      else:
        dfEstadosParametroCanceres20xx[cancer] = cantidad

    dfEstadosDefinitivoCanceres20xx = pd.concat([dfEstadosDefinitivoCanceres20xx, dfEstadosParametroCanceres20xx], ignore_index=True)

  # Imprimir resultado
  titulo = f"Asociacion de datos por estado, por {parametro} y por tipo de cancer en el año: {anio}".center(100, '-')
  print(titulo)
  print(dfEstadosDefinitivoCanceres20xx.to_string())

  return dfEstadosDefinitivoCanceres20xx

dfEstadosEducacionesCanceres2010 = asociador(nivelesEscolares, df2010, 'desc_escolaridad')

# (32 - 1) estados + 10 niveles escolares + 36 tipos de canceres = 77 cols

    Baja California  Baja California Sur  Campeche  Chiapas  Chihuahua  \
0                 0                    0         0        0          0
1                 1                    0         0        0          0
2                 0                    1         0        0          0
3                 0                    0         1        0          0
4                 0                    0         0        1          0
5                 0                    0         0        0          1
6                 0                    0         0        0          0
7                 0                    0         0        0          0
8                 0                    0         0        0          0
9                 0                    0         0        0          0
10                0                    0         0        0          0
11                0                    0         0        0          0
12                0                    0         0        0          0
13                0                    0         0        0          0
14                0                    0         0        0          0
15                0                    0         0        0          0
16                0                    0         0        0          0
17                0                    0         0        0          0
18                0                    0         0        0          0
19                0                    0         0        0          0
20                0                    0         0        0          0
21                0                    0         0        0          0
22                0                    0         0        0          0
23                0                    0         0        0          0
24                0                    0         0        0          0
25                0                    0         0        0          0
26                0                    0         0        0          0
27                0                    0         0        0          0
28                0                    0         0        0          0
29                0                    0         0        0          0
30                0                    0         0        0          0
31                0                    0         0        0          0

    Coahuila de Zaragoza  Colima  Distrito Federal  Durango  Guanajuato  ...  \
0                      0       0                 0        0           0  ...
1                      0       0                 0        0           0  ...
2                      0       0                 0        0           0  ...
3                      0       0                 0        0           0  ...
4                      0       0                 0        0           0  ...
5                      0       0                 0        0           0  ...
6                      1       0                 0        0           0  ...
7                      0       1                 0        0           0  ...
8                      0       0                 1        0           0  ...
9                      0       0                 0        1           0  ...
10                     0       0                 0        0           1  ...
11                     0       0                 0        0           0  ...
12                     0       0                 0        0           0  ...
13                     0       0                 0        0           0  ...
14                     0       0                 0        0           0  ...
15                     0       0                 0        0           0  ...
16                     0       0                 0        0           0  ...
17                     0       0                 0        0           0  ...
18                     0       0                 0        0           0  ...
19                     0       0                 0        0           0  ...
20                     0       0                 0        0           0  ...
21                     0       0                 0        0           0  ...
22                     0       0                 0        0           0  ...
23                     0       0                 0        0           0  ...
24                     0       0                 0        0           0  ...
25                     0       0                 0        0           0  ...
26                     0       0                 0        0           0  ...
27                     0       0                 0        0           0  ...
28                     0       0                 0        0           0  ...
29                     0       0                 0        0           0  ...
30                     0       0                 0        0           0  ...
31                     0       0                 0        0           0  ...

    Pancreas  Prostate  Skin non Melanoma   Soft Tissue  Stomach  Testis  \
0         60        44                  14            6       41       3
1        219       118                  29           22      125       8
2         36        31                  10            3       24       3
3         24        47                  11            7       61       2
4        213       186                  58           35      354      12
5        197       200                  46           26      175      23
6        126       115                  28           22      102       4
7         46        34                  15            6       26       2
8        667       502                 118          111      618      41
9         82        81                  21            7       71       3
10       246       281                  72           36      261      10
11       130       165                  36           13      222       6
12       121       131                  39           16      153      14
13       452       489                  97           71      370      32
14       253       311                  71           27      217      10
15        92        90                  26           10      122       3
16       665       508                 183          105      727      77
17        62        77                  20            7       58       4
18       330       213                  37           35      149      11
19       148       145                  53           35      291      12
20       235       218                  85           54      304      28
21        76        72                  25           15       60      11
22        33        34                  15            5       55       4
23       129       129                  33           23      121       9
24       152       186                  40           15      135       4
25       174       171                  41           23      169       9
26        73       117                  24           20      111       9
27       173       171                  39           25      140      10
28        56        35                  18           14       59       5
29       398       431                  97           74      425      42
30        69        89                  39           24      132       2
31        90        94                  19            9       82       5

    Thyroid  Trachea  Ureter  Urinary Tract Other
0        12        0       0                    0
1        10        0       0                    0
2         3        0       0                    0
3         5        1       0                    0
4        24        0       0                    0
5        16        1       1                    2
6        11        3       0                    0
7         4        0       0                    0
8        68        5       5                    2
9        11        0       0                    0
10       39        0       0                    0
11       11        1       0                    1
12       18        1       1                    0
13       37        0       0                    1
14       34        0       0                    1
15       18        0       0                    0
16       97        0       1                    1
17        6        0       0                    0
18       19        0       1                    0
19       16        0       0                    0
20       31        3       0                    0
21        9        0       0                    0
22        7        0       0                    1
23       18        0       0                    0
24       11        0       0                    1
25       19        1       0                    0
26        7        0       0                    0
27       11        2       2                    2
28        8        0       0                    0
29       38        0       0                    1
30        9        0       1                    0
31       15        0       0                    1

[32 rows x 77 columns]
    Baja California  Baja California Sur  Campeche  Chiapas  Chihuahua  Coahuila de Zaragoza  Colima  Distrito Federal  Durango  Guanajuato  Guerrero  Hidalgo  Jalisco  Michoacán de Ocampo  Morelos  México  Nayarit  Nuevo León  Oaxaca  Puebla  Querétaro  Quintana Roo  San Luis Potosí  Sinaloa  Sonora  Tabasco  Tamaulipas  Tlaxcala  Veracruz de Ignacio de la Llave  Yucatán  Zacatecas  No especificada   No aplica a menores de 3 años  Sin escolaridad  Preescolar  Primaria completa  Secundaria incompleta  Secundaria completa  Bachillerato o preparatoria  Profesional  Posgrado  Bladder  Bone  Brain  Breast  Cervix Uteri  Colon and Rectum  Esophagus  Eyes  Female Genitals  Gallbladder  Heart  Hodgkin's Lymphoma  Kidney  Larynx  Leukemia  Liver   Lungs  Lymphoma  Male Genitales  Melanoma  Mesothelioma  Mylenoma  Nervous  Oral Cavity and Pharynx  Outter Respiratory  Ovary  Pancreas  Prostate  Skin non Melanoma   Soft Tissue  Stomach  Testis  Thyroid  Trachea  Ureter  Urinary Tract Other
0                 0                    0         0        0          0                     0       0                 0        0           0         0        0        0                    0        0       0        0           0       0       0          0             0                0        0       0        0           0         0                                0        0          0                20                             15               91         213                156                     16                   67                           45           54         0       10     6     26      45            47                51          6     2                3           16      0                   3      20       6        59      36     85        31               2         7             1         8        1                        6                   0     20        60        44                  14            6       41       3       12        0       0                    0
1                 1                    0         0        0          0                     0       0                 0        0           0         0        0        0                    0        0       0        0           0       0       0          0             0                0        0       0        0           0         0                                0        0          0               142                             16              201         405                435                     79                  216                          155          213         0       33    23     44     165           125               149         21     2                3           51      0                  12      63      21        92     109    233        78               1         5             4        28        2                       24                   0     43       219       118                  29           22      125       8       10        0       0                    0
2                 0                    1         0        0          0                     0       0                 0        0           0         0        0        0                    0        0       0        0           0       0       0          0             0                0        0       0        0           0         0                                0        0          0                13                              5               35          91                 93                      9                   46                           36           40         0        7     5     19      31            21                26          5     1                1            6      0                   2       4       7        18      15     52        14               4         2             1         4        0                        1                   0     12        36        31                  10            3       24       3        3        0       0                    0
3                 0                    0         1        0          0                     0       0                 0        0           0         0        0        0                    0        0       0        0           0       0       0          0             0                0        0       0        0           0         0                                0        0          0                21                              5              100         146                 76                      8                   44                           27           45         0        1     6     14      27            32                35          5     0                0           15      0                   4      19       7        38      36     28        21               2         4             0         2        0                       10                   1      7        24        47                  11            7       61       2        5        1       0                    0
4                 0                    0         0        1          0                     0       0                 0        0           0         0        0        0                    0        0       0        0           0       0       0          0             0                0        0       0        0           0         0                                0        0          0                23                             35              897         808                390                     57                  139                           84          147         0       25    51     63     128           232               140         21     8                9           72      0                  23      44      18       208     288    159        98               3        12             2        25        2                       36                   0     31       213       186                  58           35      354      12       24        0       0                    0
5                 0                    0         0        0          1                     0       0                 0        0           0         0        0        0                    0        0       0        0           0       0       0          0             0                0        0       0        0           0         0                                0        0          0               122                             16              192         738                647                     65                  267                          160          176         0       28    40     77     185           154               187         34     3               10           51      0                  17      64      26       105     110    371        87               2        19            23        26        5                       22                   1     49       197       200                  46           26      175      23       16        1       1                    2
6                 0                    0         0        0          0                     1       0                 0        0           0         0        0        0                    0        0       0        0           0       0       0          0             0                0        0       0        0           0         0                                0        0          0               117                             15              148         417                444                     44                  204                          137          201         0       32    33     59     161           119               130         19     3                1           42      0                  11      61      26        85     127    206        80               8        12             3        14        1                       23                   0     60       126       115                  28           22      102       4       11        3       0                    0
7                 0                    0         0        0          0                     0       1                 0        0           0         0        0        0                    0        0       0        0           0       0       0          0             0                0        0       0        0           0         0                                0        0          0                16                              2               99         152                 89                      8                   41                           28           48         0        6     3     16      38            36                34          5     0                0            8      0                   6       8      11        27      36     52        32               0         3             2         5        0                        8                   0     14        46        34                  15            6       26       2        4        0       0                    0
8                 0                    0         0        0          0                     0       0                 1        0           0         0        0        0                    0        0       0        0           0       0       0          0             0                0        0       0        0           0         0                                0        0          0                88                             38              491        1408               1763                    229                  968                         1090         1337         0      117    83    235     667           403               595         78     7               22          212      1                  57     267      52       386     500    651       358              13        78            37       109        8                       99                   3    237       667       502                 118          111      618      41       68        5       5                    2
9                 0                    0         0        0          0                     0       0                 0        1           0         0        0        0                    0        0       0        0           0       0       0          0             0                0        0       0        0           0         0                                0        0          0                56                              8               92         355                175                     17                   94                           64           87         0       21    20     22      58            59                54         15     0                2           30      1                   5      22      15        50      63    123        42               5         5             1        21        1                       13                   0     24        82        81                  21            7       71       3       11        0       0                    0

In [21]:
# Crear el df que almacenara todos los datos de estados-educaciones-canceres
dfEstadosEducacionesCanceres2010 = pd.DataFrame()

# Almacenar el estado X
dfEstadosEducacionesCanceres2010 = dfEstadosCod.iloc[0:0+1, 1:]

# Crear una nueva columna por cada valor distinto (nivel educativo) y colocarle la frecuencia del valor
# distinto respectivamente
for etiqueta in nivelesEscolares:
  condicion = (df2010['desc_escolaridad'] == etiqueta) # Determinar cuantas personas con cada nivel educativo hay
  cantidad = df2010.loc[condicion].shape[0]

  # Si la frecuancia de esa etiqueta es 0 igualemente crea la columna con ese nombre y colocale 0
  if cantidad == 0:
    dfEstadosEducacionesCanceres2010[etiqueta] = 0
  else:
    dfEstadosEducacionesCanceres2010[etiqueta] = cantidad

print(dfEstadosEducacionesCanceres2010.to_string())
# (32 - 1) estados + 10 niveles escolares + 36 tipos de canceres = 77 cols

   Baja California  Baja California Sur  Campeche  Chiapas  Chihuahua  Coahuila de Zaragoza  Colima  Distrito Federal  Durango  Guanajuato  Guerrero  Hidalgo  Jalisco  Michoacán de Ocampo  Morelos  México  Nayarit  Nuevo León  Oaxaca  Puebla  Querétaro  Quintana Roo  San Luis Potosí  Sinaloa  Sonora  Tabasco  Tamaulipas  Tlaxcala  Veracruz de Ignacio de la Llave  Yucatán  Zacatecas  No especificada   No aplica a menores de 3 años  Sin escolaridad  Preescolar  Primaria completa  Secundaria incompleta  Secundaria completa  Bachillerato o preparatoria  Profesional  Posgrado
0                0                    0         0        0          0                     0       0                 0        0           0         0        0        0                    0        0       0        0           0       0       0          0             0                0        0       0        0           0         0                                0        0          0              2077                            641            12186       20493              14289                   1745                 6915                         5205         6592         0

In [ ]:
# Crear el df que almacenara todos los datos de estados-educaciones-canceres
dfEstadosEducacionesCanceres = pd.DataFrame()

for j in range(0, 32):


  # Extraer las transformaciones de un estado
  dfEstadoCancer = dfEstadosCod.iloc[j:j + 1, 1:]

  # Un solo estadoCancer (una sola fila) debe tener: 31 cols de estados + 1260 cols de cancer vect + 36 cols de 'OrganNCant' =  1327 cols
  for i in range(0, 36):
    df1 = dfEstadoCancer
    df2 = dfCanceresCodVect.iloc[0:1, 0 + (35*i):35 + (35*i)]
    df3 = dfEstados.iloc[j:j + 1, i*2 + 2]

    # De esta forma una fila queda con los siguientes datos: estado + tipoCancer1 + cantCancer1 + tipoCancer2 + cantCancer2 + ... y asi sucesivamente
    dfEstadoCancer = pd.concat([df1.reset_index(drop=True), df2.reset_index(drop=True), df3.reset_index(drop=True)], axis=1)

  # Juntar un nuevo estadoCancer con todos los estadosCanceres (agregar la nueva fila al df mas gral.)
  dfEstadosCanceres = pd.concat([dfEstadosCanceres, dfEstadoCancer], ignore_index=True)

# Imprimir el resultado final
print('dfEstadosCanceres')
print(dfEstadosCanceres)
print(dfEstadosCanceres.to_string())

##### Estados - Empleos

In [ ]:
# Crear el df que almacenara todos los datos de estados-trabajos
dfEstadosEmpleos = pd.DataFrame()

for j in range(0, 32):
  # Extraer las transformaciones de un estado
  dfEstadoEmpleo = dfEstadosCod.iloc[j:j + 1, 1:]

  # Un solo estadoEmpleo (una sola fila) debe tener: 31 cols de estados + 156 cols de cancer vect + 13 cols de 'desc_ocupacionNCant' =  200 cols
  for i in range(0, 13):
    df1 = dfEstadoEmpleo
    df2 = dfTrabajosCodVect.iloc[0:1, 0 + (12*i):12 + (12*i)]
    df3 = dfEstados.iloc[j:j + 1, i*2 + 74]

    # De esta forma una fila queda con los siguientes datos: estado + tipoEmpleo1 + cantEmpleo1 + tipoEmpleo2 + cantEmpleo2 + ... y asi sucesivamente
    dfEstadoEmpleo = pd.concat([df1.reset_index(drop=True), df2.reset_index(drop=True), df3.reset_index(drop=True)], axis=1)

  # Juntar un nuevo estadoEmpleo con todos los estadosEmpleos (agregar la nueva fila al df mas gral.)
  dfEstadosEmpleos = pd.concat([dfEstadosEmpleos, dfEstadoEmpleo], ignore_index=True)

# Imprimir el resultado final
print('dfEstadosEmpleos')
print(dfEstadosEmpleos)
print(dfEstadosEmpleos.to_string())

##### Estados - Niveles Educativos

In [ ]:
# Crear el df que almacenara todos los datos de estados-Educaciones
dfEstadosEducaciones = pd.DataFrame()

for j in range(0, 32):
  # Extraer las transformaciones de un estado
  dfEstadoEducacion = dfEstadosCod.iloc[j:j + 1, 1:]

  # Un solo estadoEducacion (una sola fila) debe tener: 31 cols de estados + 100 cols de cancer vect + 10 cols de 'desc_escolaridadNCant' =  141 cols
  for i in range(0, 10):
    df1 = dfEstadoEducacion
    df2 = dfEducacionCodVect.iloc[0:1, 0 + (10*i):10 + (10*i)]
    df3 = dfEstados.iloc[j:j + 1, i*2 + 100]

    # De esta forma una fila queda con los siguientes datos: estado + tipoEducacion1 + cantEducacion1 + tipoEducacion2 + cantEducacion2 + ... y asi sucesivamente
    dfEstadoEducacion = pd.concat([df1.reset_index(drop=True), df2.reset_index(drop=True), df3.reset_index(drop=True)], axis=1)

  # Juntar un nuevo estadoEducacion con todos los estadosEducaciones (agregar la nueva fila al df mas gral.)
  dfEstadosEducaciones = pd.concat([dfEstadosEducaciones, dfEstadoEducacion], ignore_index=True)

# Imprimir el resultado final
print('dfEstadosEducaciones')
print(dfEstadosEducaciones)
print(dfEstadosEducaciones.to_string())

### Escalado de Datos

In [ ]:
from sklearn.preprocessing import StandardScaler

# Definicion de la funcion que realiza el escalado de datos
def escalador(df, nombreDf):
  titulo = f"Dataframe {nombreDf}".center(100, '-')
  print(titulo)
  titulo2 = f"Antes del escalado".ljust(50, '-')
  print(titulo2)
  print(df.to_string())

  columnas = df.columns.tolist() # Determinar el nombre de las col's
  estadoVariableEscalador = StandardScaler()
  df = estadoVariableEscalador.fit_transform(df) # Escala los datos
  df = pd.DataFrame(df, columns=columnas) # Esto devolvera un numpy por eso se castea a df conservando el
  # nombre de las col's

  titulo3 = f"Despues del escalado".ljust(50, '-')
  print(titulo3)
  print(df.to_string())

  return df

# Definicion de la funcion que se encargara de
def escaladorDatos(df, caso, nombreDf):
  # Recopilar las columnas que se necesitan normalizar y almacenarlas en 'dfAnormal'
  dfAnormal = pd.DataFrame()

  if caso == 'Cancer':
    for i in range(0, 36):
      nombreColumna = df.columns[66 + (36*i)]  #Como hay 36 cols de 'OrganNCant' cada 36 cols habra
      dfAnormal[nombreColumna] = df.iloc[:, 66 + (36*i)] # coincidencia a partir de la 1er coicidencia

  elif caso == 'Empleo':
    for i in range(0, 13):
      nombreColumna = df.columns[43 + (13*i)]  #Como hay 13 cols de 'desc_ocupacionNCant' cada 13 cols habra
      dfAnormal[nombreColumna] = df.iloc[:, 43 + (13*i)] # coincidencia a partir de la 1er coicidencia

  elif caso == 'Educacion':
    for i in range(0, 10):
      nombreColumna = df.columns[41 + (11*i)]  #Como hay 10 cols de 'desc_escolaridadNCant' cada 10 cols habra
      dfAnormal[nombreColumna] = df.iloc[:, 41 + (11*i)] # coincidencia a partir de la 1er coicidencia

  # Mandar a llamar la funcion que Escala Datos
  dfNormal = escalador(dfAnormal, nombreDf)

  # Reemplazar los nuevos datos escalados en los df originales
  columnas = dfNormal.columns.to_list()

  for i in range(0, len(columnas)):
    df[columnas[i]] = dfNormal.iloc[:, i]

  titulo = f"DataFrame".ljust(50, '-')
  print(titulo)
  print(df.to_string())

  return df

#### Estados - Canceres

In [ ]:
# Mandar a llamar la funcion que escalara los datos sobre el df: 'dfEstadosCanceres'
dfEstadosCanceres = escaladorDatos(dfEstadosCanceres, 'Cancer', 'Estados Canceres')

#### Estados - Empleos

In [ ]:
# Mandar a llamar la funcion que escalara los datos sobre el df: 'dfEstadosEmpleos'
dfEstadosEmpleos = escaladorDatos(dfEstadosEmpleos, 'Empleo', 'Estados Empleos')

#### Estados - Niveles Educativos

In [ ]:
# Mandar a llamar la funcion que escalara los datos sobre el df: 'dfEstadosEducaciones'
dfEstadosEducaciones = escaladorDatos(dfEstadosEducaciones, 'Educacion', 'Estados Educaciones')

### Algoritmos/Modelos

In [ ]:
# Agregar librerias para utilizar el algoritmo e implementar metricas
from sklearn.cluster import KMeans
from sklearn import metrics

#### Metodo del Codo

In [ ]:
# Definicion del metodo del codo para que cualquier modelo lo pueda utilizar.
def metodoCodo(df, titulo, color):
  X = df
  wcss = []
  cantidadClusters = 15
  # Crear modelos pero con diferentes cantidades de clusters: de 1 a 15 y agregar los valores de inercia
  # resultantes de cada modelo.
  for i in range(1, cantidadClusters):
      algoritmoKmeans = KMeans(n_clusters = i, n_init=10, init = 'k-means++', max_iter = 100, random_state = 0)
      algoritmoKmeans.fit(X)
      wcss.append(algoritmoKmeans.inertia_)

  # Graficar la cantidad de clusters con el valor de inercia obtenido en ese modelo
  plt.figure(figsize=(10, 6))
  plt.title(titulo)
  plt.plot(range(1, cantidadClusters), wcss, c=color)
  plt.scatter(range(1, cantidadClusters), wcss, s = 20, c=color)
  plt.xticks(range(1, cantidadClusters), range(1, cantidadClusters))
  plt.ylabel('WCSS')
  plt.xlabel('Numero de clusters')
  plt.grid()
  plt.show()

In [ ]:
# Llamar el metodo del codo y aplicarlo sobre los datos de estados y educaciones
metodoCodo(dfEstadosEducaciones, 'Estados - Educaciones', 'g') # 6

In [ ]:
# Llamar el metodo del codo y aplicarlo sobre los datos de estados y empleos
metodoCodo(dfEstadosEmpleos, 'Estados - Empleos', 'purple') # 5

In [ ]:
# Llamar el metodo del codo y aplicarlo sobre los datos de estados y tipos de cancer
metodoCodo(dfEstadosCanceres, 'Estados - Canceres', 'b') # 5

#### Creacion y evaluacion de modelos

In [ ]:
# Definicion del metodo que creara cierto modelo con el numero de cluster optimo y a su vez
# determinara el coeficiente de shilloutte obtenido con ese modelo.
def crearEvaluarModelo(df, numerClusters, nombreModelo):
  # Creacion del modelo con cierta cantidad de clusters
  algoritmoKmeans = KMeans(n_clusters = numerClusters, n_init=10, init = 'k-means++', max_iter = 100, random_state = 0)
  algoritmoKmeans.fit(df)
  grupos = algoritmoKmeans.fit_predict(df)

  # Obtener el coeficiente de shilloutte
  coef = metrics.silhouette_score(df, grupos)

  # Imprimir los resultados
  print(grupos)
  print(f'El coeficiente de shilloute para el modelo de {nombreModelo} es: {coef}')
  serie = pd.Series(grupos)
  df = pd.DataFrame({nombreModelo: serie})
  return df

In [ ]:
# Aplicar el metodo que creara el modelo a la matriz de datos de estados con educaciones con cierta
# cantidad de clusters.
gruposEducaciones = crearEvaluarModelo(dfEstadosEducaciones, 6, 'Educacion')

In [ ]:
# Aplicar el metodo que creara el modelo a la matriz de datos de estados con empleos con cierta
# cantidad de clusters.
gruposEmpleos = crearEvaluarModelo(dfEstadosEmpleos, 5, 'Empleo')

In [ ]:
# Aplicar el metodo que creara el modelo a la matriz de datos de estados con tipos de cancer con cierta
# cantidad de clusters.
gruposCanceres = crearEvaluarModelo(dfEstadosCanceres, 5, 'Cancer')

### Guardar Resultados

In [ ]:
modelosResultados = '/content/drive/MyDrive/Pt2/Primeras Actividades/0 Bases de Datos/Modelos Resultados/'

dfEstados.to_csv(modelosResultados + 'df.csv', index=False)
gruposEducaciones.to_csv(modelosResultados + 'gruposEducaciones.csv', index=False)
gruposEmpleos.to_csv(modelosResultados + 'gruposEmpleos.csv', index=False)
gruposCanceres.to_csv(modelosResultados + 'gruposCanceres.csv', index=False)